interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getExif&photo_id=54159643533
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
        id=\"54159643533\" secret=\"1515544622\" server=\"65535\" farm=\"66\" camera=\"Apple
        iPhone 13 Pro\">\n\t<exif tagspace=\"IFD0\" tagspaceid=\"0\" tag=\"Compression\"
        label=\"Compression\">\n\t\t<raw>JPEG (old-style)</raw>\n\t</exif>\n\t<exif
        tagspace=\"IFD0\" tagspaceid=\"0\" tag=\"Make\" label=\"Make\">\n\t\t<raw>Apple</raw>\n\t</exif>\n\t<exif
        tagspace=\"IFD0\" tagspaceid=\"0\" tag=\"Model\" label=\"Model\">\n\t\t<raw>iPhone
        13 Pro</raw>\n\t</exif>\n\t<exif tagspace=\"IFD0\" tagspaceid=\"0\" tag=\"Orientation\"
        label=\"Orientation\">\n\t\t<raw>Rotate 90 CW</raw>\n\t</exif>\n\t<exif tagspace=\"IFD0\"
        tagspaceid=\"0\" tag=\"XResolution\" label=\"X-Resolution\">\n\t\t<raw>72</raw>\n\t\t<clean>72
        dpi</clean>\n\t</exif>\n\t<exif tagspace=\"IFD0\" tagspaceid=\"0\" tag=\"YResolution\"
        label=\"Y-Resolution\">\n\t\t<raw>72</raw>\n\t\t<clean>72 dpi</clean>\n\t</exif>\n\t<exif
        tagspace=\"IFD0\" tagspaceid=\"0\" tag=\"ResolutionUnit\" label=\"Resolution
        Unit\">\n\t\t<raw>inches</raw>\n\t</exif>\n\t<exif tagspace=\"IFD0\" tagspaceid=\"0\"
        tag=\"Software\" label=\"Software\">\n\t\t<raw>17.6.1</raw>\n\t</exif>\n\t<exif
        tagspace=\"IFD0\" tagspaceid=[...]
