interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Coriginal_format%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Ctags%2Cgeo%2Curl_q%2Curl_l%2Cdescription%2Csafety_level%2Crealname%2Cpath_alias%2Ccount_comments%2Ccount_views&method=flickr.photosets.getPhotos&page=1&per_page=10&photoset_id=72177720303084733&user_id=115357548%40N08
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photoset
      id=\"72177720303084733\" primary=\"51765716298\" owner=\"115357548@N08\" ownername=\"Joshua
      Tree National Park\" page=\"1\" per_page=\"10\" perpage=\"10\" pages=\"3\" title=\"Americorps
      and other crews\" total=\"23\">\n\t<photo id=\"51765716298\" secret=\"598685675d\"
      server=\"65535\" farm=\"66\" title=\"NCCC Crew\" isprimary=\"1\" ispublic=\"1\"
      isfriend=\"0\" isfamily=\"0\" license=\"10\" safety_level=\"0\" dateupload=\"1640193267\"
      datetaken=\"2021-12-08 15:40:25\" datetakengranularity=\"0\" datetakenunknown=\"0\"
      ownername=\"Joshua Tree National Park\" count_views=\"5327\" count_comments=\"1\"
      tags=\"americorps nccc fuels reduction fire covingtonflats\" originalsecret=\"7c523abcae\"
      originalformat=\"jpg\" latitude=\"0\" longitude=\"0\" accuracy=\"0\" context=\"0\"
      media=\"photo\" media_status=\"ready\" url_sq=\"https://live.staticflickr.com/65535/51765716298_598685675d_s.jpg\"
      height_sq=\"75\" width_sq=\"75\" url_t=\"https://live.staticflickr.com/65535/51765716298_598685675d_t.jpg\"
      height_t=\"66\" width_t=\"100\" url_s=\"https://live.staticflickr.com/65535/51765716298_598685675d_m.jpg\"
      height_s=\"159\" width_s=\"240\" url_m=\"https://live.staticflickr.com/65535/51765716298_598685675d.jpg\"
      height_m=\"331\" width_m=\"500\" url_o=\"https://live.staticflickr.com/65535/51765716298_7c523abcae_o.jpg\"
      height_o=\"3264\" width_o=\"4928\" url_q=\"https://live.staticflickr.com/65535/51765716298_598685675d_q.jpg\"
      height_q=\"150\" width_q=\"150\" url_l=\"https://live.staticflickr.com/65535/51765716298_598685675d_b.jpg\"
      height_l=\"678\" width_l=\"1024\" pathalias=\"joshuatreenp\">\n\t\t<description>The
      NCCC crew that helped with fuels reduction in Covington Flats, December 2021.\n\nImage:
      Eight smiling young adults posing for a photo.\n\nNPS / Michael Faist</description>\n\t</photo>\n\t<photo
      id=\"51766105259\" secret=\"969407c032\" server=\"65535\" farm=\"66\" title=\"NCCC
      Water Bottle\" isprimary=\"0\" ispublic=\"1\" isfriend=\"0\" isfamily=\"0\"
      license=\"10\" safety_level=\"0\" dateupload=\"1640193266\" datetaken=\"2021-12-08
      14:29:50\" datetakengran[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Self=1-6630c843-3f7fbe76344704103631b3fd;Root=1-6630c843-764886ce0c6c2029626d74a3
      x-server:
      - serverless-proxy-10.78.13.106
    status_code: 200
version: 1
