interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.urls.lookupUser&url=https%3A%2F%2Fwww.flickr.com%2Fphotos%2Fbrampitoyo%2F
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<user
      id=\"91178292@N00\">\n\t<username>Bram Pitoyo</username>\n</user>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Self=1-65fc22c9-141be12d611df6724ab1f4b6;Root=1-65fc22c9-3a1d0b4906cd7b1704d40f3c
      x-server:
      - serverless-proxy-10.78.34.97
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.people.getInfo&user_id=91178292%40N00
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<person
      id=\"91178292@N00\" nsid=\"91178292@N00\" ispro=\"0\" is_deleted=\"0\" iconserver=\"4366\"
      iconfarm=\"5\" path_alias=\"brampitoyo\" has_stats=\"0\" has_adfree=\"0\" has_free_standard_shipping=\"0\"
      has_free_educational_resources=\"0\">\n\t<username>Bram Pitoyo</username>\n\t<realname>Bram
      Pitoyo</realname>\n\t<location>Wellington, New Zealand</location>\n\t<timezone
      label=\"Auckland, Wellington\" offset=\"+12:00\" timezone_id=\"Pacific/Auckland\"
      timezone=\"73\" />\n\t<description>At Mozilla, Bram Pitoyo is a design strategist
      &amp;amp; typographer who works at the nexus of user experience, architecture,
      community engagement &amp;amp; most other subjects.</description>\n\t<photosurl>https://www.flickr.com/photos/brampitoyo/</photosurl>\n\t<profileurl>https://www.flickr.com/people/brampitoyo/</profileurl>\n\t<mobileurl>https://www.flickr.com/photos/brampitoyo/</mobileurl>\n\t<photos>\n\t\t<firstdatetaken>2007-04-30
      22:42:16</firstdatetaken>\n\t\t<firstdate>1178498861</firstdate>\n\t\t<count>1352</count>\n\t</photos>\n</person>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Self=1-65fc22c9-6956e2b6669a0b97455556b4;Root=1-65fc22c9-4e1577f96a91942f26ff24df
      x-server:
      - serverless-proxy-10.78.31.184
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Coriginal_format%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Ctags%2Cgeo%2Curl_q%2Curl_l%2Cdescription%2Csafety_level%2Crealname&method=flickr.photosets.getPhotos&page=1&per_page=10&photoset_id=72157624715342071&user_id=91178292%40N00
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photoset
      id=\"72157624715342071\" primary=\"4941540830\" owner=\"91178292@N00\" ownername=\"Bram
      Pitoyo\" page=\"1\" per_page=\"10\" perpage=\"10\" pages=\"5\" title=\"Delhi
      Life\" total=\"42\">\n\t<photo id=\"4941540830\" secret=\"3133850cf5\" server=\"4141\"
      farm=\"5\" title=\"Sit\" isprimary=\"1\" ispublic=\"1\" isfriend=\"0\" isfamily=\"0\"
      license=\"0\" safety_level=\"0\" dateupload=\"1283169092\" datetaken=\"2010-08-28
      13:08:01\" datetakengranularity=\"0\" datetakenunknown=\"0\" ownername=\"Bram
      Pitoyo\" realname=\"Bram Pitoyo\" tags=\"india market delhi 0stars\" originalsecret=\"0d1a994712\"
      originalformat=\"jpg\" latitude=\"28.656738\" longitude=\"77.230796\"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
   [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photosets.getInfo&photoset_id=72157624715342071&user_id=91178292%40N00
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photoset
      id=\"72157624715342071\" owner=\"91178292@N00\" username=\"Bram Pitoyo\" primary=\"4941540830\"
      secret=\"3133850cf5\" server=\"4141\" farm=\"5\" count_views=\"56\" count_comments=\"0\"
      count_photos=\"20\" count_videos=\"22\" can_comment=\"0\" date_create=\"1283170688\"
      date_update=\"1343090408\" photos=\"42\" visibility_can_see_set=\"1\" needs_interstitial=\"0\">\n\t<title>Delhi
      Life</title>\n\t<description />\n</photoset>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Self=1-65fc22ca-5e28911f2069229b1e518874;Root=1-65fc22ca-6cab8c7317b80cde6e132771
      x-server:
      - serverless-proxy-10.78.34.97
    status_code: 200
version: 1
