interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Coriginal_format%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Ctags%2Cgeo%2Curl_q%2Curl_l%2Cdescription%2Csafety_level%2Crealname%2Cpath_alias%2Ccount_comments%2Ccount_views&gallery_id=72157722112740042&get_gallery_info=1&method=flickr.galleries.getPhotos&page=1&per_page=10
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photos
      page=\"1\" pages=\"3\" perpage=\"10\" total=\"23\">\n\t<photo id=\"53683422277\"
      owner=\"46709051@N03\" secret=\"1a26cb53b3\" server=\"65535\" farm=\"66\" title=\"17-52
      Agnes: Freddie sandwich\" ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" license=\"0\"
      safety_level=\"0\" dateupload=\"1714311875\" datetaken=\"2024-04-27 15:00:03\"
      datetakengranularity=\"0\" datetakenunknown=\"0\" ownername=\"Dave (www.DogversationsBook.com)\"
      count_views=\"128\" count_comments=\"14\" tags=\"52weeksfordogs 52weeksforagnes
      dog goldenretiever goldenretriever puppy goldenretrieverpuppy snuggle rescuedog
      rescue brittanyspaniel brittany\" latitude=\"0\" longitude=\"0\" accuracy=\"0\"
      context=\"0\" media=\"photo\" media_status=\"ready\" url_sq=\"https://live.staticflickr.com/65535/53683422277_1a26cb53b3_s.jpg\"
      height_sq=\"75\" width_sq=\"75\" url_t=\"https://live.staticflickr.com/65535/53683422277_1a26cb53b3_t.jpg\"
      height_t=\"67\" width_t=\"100\" url_s=\"https://live.staticflickr.com/65535/53683422277_1a26cb53b3_m.jpg\"
      height_s=\"160\" width_s=\"240\" url_m=\"https://live.staticflickr.com/65535/53683422277_1a26cb53b3.jpg\"
      height_m=\"333\" width_m=\"500\" url_q=\"https://live.staticflickr.com/65535/53683422277_1a26cb53b3_q.jpg\"
      height_q=\"150\" width_q=\"150\" url_l=\"https://live.staticflickr.com/65535/53683422277_1a26cb53b3_b.jpg\"
      height_l=\"681\" width_l=\"1024\" pathalias=\"\" is_primary=\"0\" has_comment=\"0\">\n\t\t<description>This
      has been our first full week with Sir Fredrick the Magnificent. And it has been
      great.  He is quite the charmer and cuddler.  Plus he&#039;s doing well on the
      (almost) sleeping through the night thing.  Plus he still makes those little
      puppy grunting sounds when he&#039;s tired. Us humans are in love.\n\nEva and
      Agnes are transitioning from ignoring to accepting.  Or at least they will let
      him on the same dog bed with them.  </description>\n\t</photo>\n\t[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Self=1-6630c842-48c800b906ce884977fa29e0;Root=1-6630c842-73ca1ce943d467686ec21d27
      x-server:
      - serverless-proxy-10.78.37.32
    status_code: 200
version: 1
