interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getLicenseHistory&photo_id=54049228596
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8" ?>

        <rsp stat="ok">

        <license_history date_change="1746098108" old_license="Attribution License"
        old_license_url="https://creativecommons.org/licenses/by/2.0/" new_license="Attribution-ShareAlike
        License" new_license_url="https://creativecommons.org/licenses/by-sa/2.0/"
        />

        </rsp>

        '
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Root=1-681357f5-2de5a12a0abb9e25771b2e62
      x-server:
      - serverless-proxy-10.78.14.139
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
        id=\"0\" name=\"All Rights Reserved\" url=\"https://www.flickrhelp.com/hc/en-us/articles/10710266545556-Using-Flickr-images-shared-by-other-members\"
        />\n\t<license id=\"4\" name=\"Attribution License\" url=\"https://creativecommons.org/licenses/by/2.0/\"
        />\n\t<license id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
        />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
        url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license
        id=\"2\" name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
 [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=54049228596
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
        id=\"54049228596\" secret=\"45729b2e8c\" server=\"65535\" farm=\"66\" dateuploaded=\"1728299873\"
        isfavorite=\"0\" license=\"5\" safety_level=\"0\" rotation=\"0\" originalsecret=\"cf14dcc67e\"
        originalformat=\"jpg\" views=\"15\" media=\"photo\">\n\t<owner nsid=\"199258389@N04\"
        username=\"alexwlchan\" realname=\"\" location=\"\" iconserver=\"65535\" iconfarm=\"66\"
        path_alias=\"alexwlchan\">\n\t\t<gift gift_eligible=\"1\" new_flow=\"1\">\n\t\t\t<eligible_durations
        />\n\t\t\t<eligible_durations />\n\t\t\t<eligible_durations />\n\t\t</gift>\n\t</owner>\n\t<title>One
        of Antwerp&#039;s early documents</title>\n\t<description />\n\t<visibility
        ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" />\n\t<dates posted=\"1728299873\"
        taken=\"2024-09-20 14:37:31\" takengranularity=\"0\" takenunknown=\"0\" lastupdate=\"1746098108\"
        />\n\t<editability cancomment=\"0\" canaddmeta=\"0\" />\n\t<publiceditability
        cancomment=\"1\" canaddmeta=\"0\" />\n\t<usage candownload=\"1\" canblog=\"0\"
        canprint=\"0\" canshare=\"1\" />\n\t<comments>0</comments>\n\t<notes />\n\t<people
        haspeople=\"0\" />\n\t<tags />\n\t<urls>\n\t\t<url type=\"photopage\">https://www.flickr.com/photos/alexwlchan/54049228596/</url>\n\t</urls>\n</photo>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Root=1-68135a25-08d67f137d0af7811bfeaf60
      x-server:
      - serverless-proxy-10.78.32.44
    status:
      code: 200
      message: OK
version: 1
