interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Coriginal_format%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Ctags%2Cgeo%2Curl_q%2Curl_l%2Cdescription%2Csafety_level%2Crealname%2Cpath_alias%2Ccount_comments%2Ccount_views&method=flickr.people.getPublicPhotos&page=1&per_page=1&user_id=32162360%40N00
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photos
        page=\"1\" pages=\"340\" perpage=\"1\" total=\"340\">\n\t<photo id=\"53882116076\"
        owner=\"32162360@N00\" secret=\"c91132fd32\" server=\"65535\" farm=\"66\"
        title=\"Jack Butler Yeats prints\" ispublic=\"1\" isfriend=\"0\" isfamily=\"0\"
        license=\"0\" safety_level=\"0\" dateupload=\"1721990094\" datetaken=\"2024-07-26
        20:18:28\" datetakengranularity=\"0\" datetakenunknown=\"0\" ownername=\"\u0279\u01DDq\u026Fo\u0254\u0265\u0254\u0250\u01DDq\"
        count_views=\"85\" count_comments=\"3\" tags=\"\" originalsecret=\"a3eecc6889\[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
        id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
        License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
        id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
        />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
        url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license
        id=\"2\" name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
        />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
        url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license
        id=\"5\" name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
        />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
        />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
        />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
        />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
        />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Root=1-66b39a3c-72c0343554bc38723312d68e
      x-server:
      - serverless-proxy-10.78.44.107
    status:
      code: 200
      message: OK
version: 1
