interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Coriginal_format%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Ctags%2Cgeo%2Curl_q%2Curl_l%2Cdescription%2Csafety_level%2Crealname%2Cpath_alias%2Ccount_comments%2Ccount_views&method=flickr.photosets.getPhotos&page=1&per_page=10&photoset_id=72177720315673331&user_id=197130754%40N07
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photoset
      id=\"72177720315673331\" primary=\"53610414731\" owner=\"197130754@N07\" ownername=\"Flickr
      Foundation\" page=\"1\" per_page=\"10\" perpage=\"10\" pages=\"1\" title=\"Flickr
      Commons Explorer\" total=\"7\">\n\t<photo id=\"53610414731\" secret=\"42e6a487f0\"
      server=\"65535\" farm=\"66\" title=\"Homepage of commons.flickr.org\" isprimary=\"0\"
      ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" license=\"4\" safety_level=\"0\"
      dateupload=\"1711381099\" datetaken=\"2024-03-25 08:33:27\" datetakengranularity=\"0\"
      datetakenunknown=\"1\" ownername=\"Flickr Foundation\" realname=\"Flickr Foundation\"
      count_views=\"9\" count_comments=\"0\" tags=\"screenshots\" originalsecret=\"f0727dbcf7\"
      originalformat=\"png\" latitude=\"0\" longitude=\"0\" accuracy=\"0\" context=\"0\"
      media=\"photo\" media_status=\"ready\" url_sq=\"https://live.staticflickr.com/65535/53610414731_42e6a487f0_s.jpg\"
      height_sq=\"75\" width_sq=\"75\" url_t=\"https://live.staticflickr.com/65535/53610414731_42e6a487f0_t.jpg\"
      height_t=\"100\" width_t=\"80\" url_s=\"https://live.staticflickr.com/65535/53610414731_42e6a487f0_m.jpg\"
      height_s=\"240\" width_s=\"193\" url_m=\"https://live.staticflickr.com/65535/53610414731_42e6a487f0.jpg\"
      height_m=\"500\" width_m=\"402\" url_o=\"https://live.staticflickr.com/65535/53610414731_f0727dbcf7_o.png\"
      height_o=\"2515\" width_o=\"2024\" url_q=\"https://live.staticflickr.com/65535/53610414731_42e6a487f0_q.jpg\"
      height_q=\"150\" width_q=\"150\" url_l=\"https://live.staticflickr.com/65535/53610414731_42e6a487f0_b.jpg\"
      height_l=\"1024\" width_l=\"824\" pathalias=\"flickrfoundation\">\n\t\t<description>On
      the homepage you can see some of the newest photographs, and a handful of our
      members.</description>\n\t</photo>\n\t<photo id=\"53610753204\" secret=\"255f35a05c\"
      server=\"65535\" farm=\"66\" title=\"List of members on commons.flickr.org\"
      isprimary=\"0\" ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" license=\"4\" safety_level=\"0\"
      dateupload=\"1711381099\" datetaken=\"2024-03-25 08:33:27\" datetakengranularity=\"0\"
      datetakenunknown=\"1\" ownername=\"Flic[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Self=1-662fc631-2022d14a094562a8642eed33;Root=1-662fc631-0f96dfab658ed64a1fd8844e
      x-server:
      - serverless-proxy-10.78.10.17
    status_code: 200
version: 1
