interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getLicenseHistory&photo_id=54450311696
  response:
    body:
      string: '<?xml version="1.0" encoding="utf-8" ?>

        <rsp stat="ok">

        <license_history date_change="1744598090" old_license="All Rights Reserved"
        old_license_url="https://www.flickrhelp.com/hc/en-us/articles/10710266545556-Using-Flickr-images-shared-by-other-members"
        new_license="Public Domain Mark" new_license_url="https://creativecommons.org/publicdomain/mark/1.0/"
        />

        <license_history date_change="1744905505" old_license="Public Domain Mark"
        old_license_url="https://creativecommons.org/publicdomain/mark/1.0/" new_license="No
        known copyright restrictions" new_license_url="https://www.flickr.com/commons/usage/"
        />

        </rsp>

        '
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Root=1-68135738-16a022cc6c5d635f770e13c9
      x-server:
      - serverless-proxy-10.78.43.60
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
        id=\"0\" name=\"All Rights Reserved\" url=\"https://www.flickrhelp.com/hc/en-us/articles/10710266545556-Using-Flickr-images-shared-by-other-members\"
        />\n\t<license id=\"4\" name=\"Attribution License\" url=\"https://creativecommons.org/licenses/by/2.0/\"
        />\n\t<license id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
        />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
        url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license
        id=\"2\" name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
 [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=54450311696
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
        id=\"54450311696\" secret=\"24280eeefa\" server=\"65535\" farm=\"66\" dateuploaded=\"1744597680\"
        isfavorite=\"0\" license=\"7\" safety_level=\"0\" rotation=\"0\" originalsecret=\"aebbb52027\"
        originalformat=\"jpg\" views=\"381\" media=\"photo\">\n\t<owner nsid=\"201909310@N04\"
        username=\"Auckland War Memorial Museum T\u0101maki Paenga Hira\" realname=\"Auckland
        Museum Commons\" location=\"\" iconserver=\"65535\" iconfarm=\"66\" path_alias=\"aucklandmuseum_commons\">\n\t\t<gift
        gift_eligible=\"\" new_flow=\"1\" />\n\t</owner>\n\t<title>[Portrait of a
        man holding the jaw of a shark]</title>\n\t<description>This photograph was
        taken by Tudor Washington Collins (b.1898, d.1970), possibly in the 1940s.\n\nThis
        scene depicts a man standing in the center of the image, holding up a jaw
        (likely shark) with his head positioned in the middle of it.\n\nThe photographic
        medium is gelatin dry plate negative, measuring 82 mm x 107 mm (1/4 plate),
        on glass. It is classified under negatives/photographs/AAT Visual Works.\n\nCredit:
        Shared by Auckland War Memorial Museum, T\u0101maki Paenga  Hira, as part
        of the Tudor Collins collection. \nRights: No known copyright restrictions.
        \nReference: PH-2013-7-TC-B141-03.\n\nFor more details, please visit: &lt;a
        href=&quot;https://www.aucklandmuseum.com/discover/collections/record/1058670&quot;
        rel=&quot;noreferrer nofollow&quot;&gt;www.aucklandmuseum.com/discover/collections/record/1058670&lt;/a&gt;</description>\n\t<visibility
        ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" />\n\t<dates posted=\"1744597680\"
        taken=\"2013-12-17 14:37:16\" takengranularity=\"0\" takenunknown=\"0\" lastupdate=\"1744905506\"
        />\n\t<editability cancomment=\"0\" canaddmeta=\"0\" />\n\t<publiceditability
        cancomment=\"1\" canaddmeta=\"1\" />\n\t<usage candownload=\"1\" canblog=\"0\"
        canprint=\"0\" canshare=\"1\" />\n\t<comments>0</comments>\n\t<notes />\n\t<people
        haspeople=\"0\" />\n\t<tags>\n\t\t<tag id=\"201877171-54450311696-2776\" author=\"201909310@N04\"
        authorname=\"Auckland War Memorial Museum T\u0101maki Paenga Hira\" raw=\"Fishing\"
        machine_tag=\"0\">fishing</tag>\n\t\t<tag id=\"201877171-54450311696-116\"
        author=\"201909310@N04\" authorname=\"Auckland War Memorial Museum T\u0101maki
        Paenga Hira\" raw=\"Trip\" machine_tag=\"0\">trip</tag>\n\t</tags>\n\t<urls>\n\t\t<url
        type=\"photopage\">https://www.flickr.com/photos/aucklandmuseum_commons/54450311696/</url>\n\t</urls>\n</photo>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Root=1-68135a26-79ee32ba129ceed31eb2f011
      x-server:
      - serverless-proxy-10.78.16.101
    status:
      code: 200
      message: OK
version: 1
