interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Coriginal_format%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Ctags%2Cgeo%2Curl_q%2Curl_l%2Cdescription%2Csafety_level%2Crealname%2Cpath_alias%2Ccount_comments%2Ccount_views&gallery_id=72157722373536528&get_gallery_info=1&method=flickr.galleries.getPhotos&page=1&per_page=10
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photos
        page=\"1\" pages=\"1\" perpage=\"10\" total=\"2\">\n\t<photo id=\"51282506464\"
        owner=\"61021753@N02\" secret=\"05f8159346\" server=\"65535\" farm=\"66\"
        title=\"n200_w1150\" ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" license=\"10\"
        safety_level=\"0\" dateupload=\"1625093052\" datetaken=\"2021-06-30 18:44:12\"
        datetakengranularity=\"0\" datetakenunknown=\"1\" ownername=\"BioDivLibrary\"
        realname=\"Biodiversity Heritage Library\" count_views=\"298491\" count_comments=\"0\"
        tags=\"naturalhistory periodicals physicalsciences harvarduniversitymuseumofcomparativezoologyernstmayrlibrary
        bhl:page=33665621 dc:identifier=httpsbiodiversitylibraryorgpage33665621 taurus
        bull cow cattle bison bos\" originalsecret=\"325898c8dc\" originalformat=\"jpg\"
        latitude=\"0\" longitude=\"0\" accuracy=\"0\" context=\"0\" media=\"photo\"
        media_status=\"ready\" url_sq=\"https://live.staticflickr.com/65535/51282506464_05f8159346_s.jpg\"
        height_sq=\"75\" width_sq=\"75\" url_t=\"https://live.staticflickr.com/65535/51282506464_05f8159346_t.jpg\"
        height_t=\"100\" width_t=\"64\" url_s=\"https://live.staticflickr.com/65535/51282506464_05f8159346_m.jpg\"
        height_s=\"240\" width_s=\"153\" url_m=\"https://live.staticflickr.com/65535/51282506464_05f8159346.jpg\"
        height_m=\"500\" width_m=\"320\" url_o=\"https://live.staticflickr.com/65535/51282506464_325898c8dc_o.jpg\"
        height_o=\"1982\" width_o=\"1267\" url_q=\"https://live.staticflickr.com/65535/51282506464_05f8159346_q.jpg\"
        height_q=\"150\" width_q=\"150\" url_l=\"https://live.staticflickr.com/65535/51282506464_05f8159346_b.jpg\"
        height_l=\"1024\" width_l=\"655\" pathalias=\"biodivlibrary\" is_primary=\"0\"
        has_comment=\"0\">\n\t\t<description>Edinburgh journal of natural history
        and of the physical sciences.\nEdinburgh [etc.] :Published for the proprietor
        [etc.],1835-1840.\n&lt;a href=&quot;https://biodiversitylibrary.org/page/33665621&quot;
        rel=&quot;noreferrer nofollow&quot;&gt;biodiversitylibrary.org/page/33665621&lt;/a&gt;</description>\n\t</photo>\n\t<photo
        id=\"51281775881\" owner=\"61021753@N02\" secret=\"378d4661d8\" server=\"65535\"
        farm=\"66\" title=\"n224_w1150\" ispublic=\"1\" isfriend=\"0\" isfamily=\"0\"
        license=\"10\" safety_level=\"0\" dateupload=\"1625093119\" datetaken=\"2021-06-30
        18:45:19\" datetakengranularity=\"0\" datetakenunknown=\"1\" ownername=\"BioDivLibrary\"
        realname=\"Biodiversity Heritage Library\" count_views=\"514099\" count_comments=\"4\"
        tags=\"naturalhistory periodicals physicalsciences harvarduniversitymuseumofcomparativezoologyernstmayrlibrary
        bhl:page=33665645 dc:identifier=httpsbiodiversitylibraryorgpage33665645 elephant
        mammal taxonomy:genus=loxodonta taxonomy:binomial=elephasmaximus taxonomy:binomial=elephasindicus
        taxonomy:binomial=elephasafricanus\" originalsecret=\"ce67a48eb8\" originalformat=\"jpg\"
        latitude=\"0\" longitude=\"0\" accuracy=\"0\" context=\"0\" media=\"photo\"
        media_status=\"ready\" url_sq=\"https://live.staticflickr.com/65535/51281775881_378d4661d8_s.jpg\"
        height_sq=\"75\" width_sq=\"75\" url_t=\"https://live.staticflickr.com/65535/51281775881_378d4661d8_t.jpg\"
        height_t=\"100\" width_t=\"64\" url_s=\"https://live.staticflickr.com/65535/51281775881_378d4661d8_m.jpg[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
        id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
        License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
        id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
        />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
        url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license
        id=\"2\" name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
        />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
        url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license
        id=\"5\" name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
        />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
        />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
        />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
        />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
        />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Self=1-667ec23b-66c0cfe609478284522d3f88;Root=1-667ec23b-4ec38dec008949067acb3081
      x-server:
      - serverless-proxy-10.78.45.12
    status:
      code: 200
      message: OK
version: 1
