interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=27242558570
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
        id=\"27242558570\" secret=\"3b6c81dfca\" server=\"7244\" farm=\"8\" dateuploaded=\"1465295743\"
        isfavorite=\"0\" license=\"0\" safety_level=\"0\" rotation=\"0\" originalsecret=\"7116ddd4d1\"
        originalformat=\"jpg\" views=\"6135\" media=\"photo\">\n\t<owner nsid=\"32162360@N00\"
        username=\"\u0279\u01DDq\u026Fo\u0254\u0265\u0254\u0250\u01DDq\" realname=\"\"
        location=\"\" iconserver=\"3722\" iconfarm=\"4\" path_alias=\"beachcomberaustralia\">\n\t\t<gift
        gift_eligible=\"1\" new_flow=\"1\">\n\t\t\t<eligible_durations />\n\t\t\t<eligible_durations
        />\n\t\t\t<eligible_durations />\n\t\t</gift>\n\t</owner>\n\t<title>Spectacular
        surf at Tacking Point</title>\n\t<description>A severe east coast storm in
        early June 2016 caused a massive north-easterly sea swell.  Then the wind
        turned around to the south-west, blowing against the big waves, and forming
        huge coxcombs of spray. </description>\n\t<visibility ispublic=\"1\" isfriend=\"0\"
        isfamily=\"0\" />\n\t<dates posted=\"1465295743\" taken=\"2016-06-06 15:28:55\"
        takengranularity=\"0\" takenunknown=\"0\" lastupdate=\"1711375973\" />\n\t<editability
        cancomment=\"0\" canaddmeta=\"0\" />\n\t<publiceditability cancomment=\"1\"
        canaddmeta=\"1\" />\n\t<usage candownload=\"1\" canblog=\"0\" canprint=\"0\"
        canshare=\"1\" />\n\t<comments>10</comments>\n\t<notes />\n\t<people haspeople=\"0\"
        />\n\t<tags>\n\t\t<tag id=\"4817695-27242558570-100490\" author=\"32162360@N00\"
        authorname=\"\u0279\u01DDq\u026Fo\u0254\u0265\u0254\u0250\u01DDq\" raw=\"Port
        Macquarie\" machine_tag=\"0\">portmacquarie</tag>\n\t\t<tag id=\"4817695-27242558570-390\"
        author=\"32162360@N00\" authorname=\"\u0279\u01DDq\u026Fo\u0254\u0265\u0254\u0250\u01DDq\"
        raw=\"lighthouse\" machine_tag=\"0\">lighthouse</tag>\n\t\t<tag id=\"4817695-27242558570-3534\"
        author=\"32162360@N00\" authorname=\"\u0279\u0[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
        id=\"0\" name=\"All Rights Reserved\" url=\"https://www.flickrhelp.com/hc/en-us/articles/10710266545556-Using-Flickr-images-shared-by-other-members\"
        />\n\t<license id=\"4\" name=\"CC BY 2.0\" url=\"https://creativecommons.org/licenses/by/2.0/\"
        />\n\t<license id=\"6\" name=\"CC BY-ND 2.0\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
        />\n\t<license id=\"3\" name=\"CC BY-NC-ND 2.0\" url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\"
        />\n\t<license id=\"2\" name=\"CC BY-NC 2.0\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
        />\n\t<license id=\"1\" name=\"CC BY-NC-SA 2.0\" url=\"https://creativecomm[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getSizes&photo_id=27242558570
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<sizes
        canblog=\"0\" canprint=\"0\" candownload=\"1\">\n\t<size label=\"Square\"
        width=\"75\" height=\"75\" source=\"https://live.staticflickr.com/7244/27242558570_3b6c81dfca_s.jpg\"
        url=\"https://www.flickr.com/photos/beachcomberaustralia/27242558570/sizes/sq/\"
        media=\"photo\" />\n\t<size label=\"Large Square\" width=\"150\" height=\"150\"
        source=\"https://live.staticflickr.com/7244/27242558570_3b6c81dfca_q.jpg\"
        url=\"https://www.flickr.com/photos/beachcomberaustralia/27242558570/sizes/q/\"
        media=\"photo\" /[...]
