interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=21609597615
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
        id=\"21609597615\" secret=\"04b05f4473\" server=\"590\" farm=\"1\" dateuploaded=\"1442875605\"
        isfavorite=\"0\" license=\"7\" safety_level=\"0\" rotation=\"0\" originalsecret=\"efe3a758a1\"
        originalformat=\"jpg\" views=\"795\" media=\"photo\">\n\t<owner nsid=\"32741315@N06\"
        username=\"National Library NZ on The Commons\" realname=\"\" location=\"Wellington,
        New Zealand\" iconserver=\"3285\" iconfarm=\"4\" path_alias=\"nationallibrarynz_commons\">\n\t\t<gift
        gift_eligible=\"\" new_flow=\"1\" />\n\t</owner>\n\t<title>Wesleyan Church
        at Ngaruawahia, 1910 - Photograph taken by G &amp; C Ltd</title>\n\t<description>View
        of the Wesleyan Church at Ngaruawahia. Photographed by G &amp;amp; C Ltd (Probably
        Green &amp;amp; Colebrook, merchants, with a branch in Ngaruawahia)\nInscriptions:
        Inscribed - Photographer&#039;s title on negative -bottom left: Wesleyan Church.
        Ngaruawahia. 118bottom right: G &amp;amp; C Ltd. Protd 1.8.10.\nQuantity:
        1 b&amp;amp;w original negative(s).\nPhysical Description: Dry plate glass
        negative 4.5 x 6.5 inches \n\n Green &amp;amp; Colebrook (Firm). Wesleyan
        Church at Ngaruawahia, 1910 - Photograph taken by G &amp;amp; C Ltd. Price,
        William Archer, 1866-1948 :Collection of post card negatives. Ref: 1/2-000174-G.
        Alexander Turnbull Library, Wellington, New Zealand. &lt;a href=&quot;http://natlib.govt.nz/records/22300671&quot;
        rel=&quot;noreferrer nofollow&quot;&gt;natlib.govt.nz/records/22300671&lt;/a&gt;</description>\n\t<visibility
        ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" />\n\t<dates posted=\"1442875605\"
        taken=\"2004-12-31 13:09:04\" takengranularity=\"0\" takenunknown=\"1\" lastupdate=\"1637290621\"
        />\n\t<editability cancomment=\"0\" canaddmeta=\"0\" />\n\t<publiceditability
        cancomment=\"1\" canaddmeta=\"1\" />\n\t<usage candownload=\"1\" canblog=\"0\"
        canprint=\"0\" canshare=\"1\" />\n\t<comments>0</comments>\n\t<notes />\n\t<people
        haspeople=\"0\" />\n\t<tags>\n\t\t<tag id=\"32695993-21609597615-765\" author=\"126912357@N06\"
        authorname=\"valuable basket\" raw=\"Church\" machine_tag=\"0\">church</tag>\n\t\t<tag
        id=\"32695993-21609597615-905286\" author=\"126912357@N06\" authorname=\"valuable
        basket\" raw=\"Wesleyan Church\" machine_tag=\"0\">wesleyanchurch</tag>\n\t\t<tag
        id=\"32695993-21609597615-309676901\" author=\"126912357@N06\" authorname=\"valuable
        basket\" raw=\"geo:locality=Ngaruawahia\" machine_tag=\"1\">geo:locality=ngaruawahia</tag>\n\t</tags>\n\t<urls>\n\t\t<url
        type=\"photopage\">https://www.flickr.com/photos/nationallibrarynz_commons/21609597615/</url>\n\t</urls>\n</photo>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Root=1-66a110d9-6050fcea22b93c173a66e063
      x-server:
      - serverless-proxy-10.78.13.25
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
        id=\"0\" name=\"All Rights Reserved\" url=\"https://www.flickrhelp.com/hc/en-us/articles/10710266545556-Using-Flickr-images-shared-by-other-members\"
        />\n\t<license id=\"4\" name=\"CC BY 2.0\" url=\"https://creativecommons.org/licenses/by/2.0/\"
        />\n\t<license id=\"6\" name=\"CC BY-ND 2.0\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
        />\n\t<license id=\"3\" name=\"CC BY-NC-ND 2.0\" url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\"
        />\n\t<license id=\"2\" name=\"CC BY-NC 2.0\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
        />\n\t<license id=\"1\" name=\"CC BY-NC-SA 2.0\" url=\"https://creativecomm[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getSizes&photo_id=21609597615
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<sizes
        canblog=\"0\" canprint=\"0\" candownload=\"1\">\n\t<size label=\"Square\"
        width=\"75\" height=\"75\" source=\"https://live.staticflickr.com/590/21609597615_04b05f4473_s.jpg\"
        url=\"https://www.flickr.com/photos/nationallibrarynz_commons/21609597615/sizes/sq/\"
        media=\"photo\" />\n\t<size label=\"Large Square\" width=\"150\" height=\"150\"
        source=\"https://live.staticflickr.com/590/21609597615_04b05f4473_q.jpg\"
        url=\"https://www.flickr.com/photos/nationallibrarynz_commons/21609597615/sizes/q/\"
        media=\"p[...]
