interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.people.getInfo&user_id=62173425%40N02
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<person
        id=\"62173425@N02\" nsid=\"62173425@N02\" ispro=\"1\" is_deleted=\"0\" iconserver=\"6199\"
        iconfarm=\"7\" path_alias=\"stockholmtransportmuseum_commons\" has_stats=\"0\"
        pro_badge=\"standard\" expire=\"2027044800\" has_adfree=\"0\" has_free_standard_shipping=\"0\"
        has_free_educational_resources=\"0\">\n\t<username>Stockholm Transport Museum
        Commons</username>\n\t<realname>tockholm Transport Museum</realname>\n\t<location
        />\n\t<timezone label=\"Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna\"
        offset=\"+01:00\" timezone_id=\"Europe/Amsterdam\" timezone=\"28\" />\n\t<description>The
        Stockholm Transport Museum Museum is Stockholm County\u2019s public transport
        museum. Here we offer visitors an insight into the history of local public
        transport in an interesting and stimulating way. We have some 60 vehicles
        at the museum, each one with something particular to tell us about travelling
        in Stockholm during different epochs. We can also trace Stockholm\u2019s growth
        into a modern cosmopolitan city by observing the development of its public
        transport.\n\nFurthermore, we have a large photograph collection, with some
        400,000 photographs, from the end of the 19th century to modern times.\n\nLearn
        more about the museum at &lt;a href=&quot;http://www.sparvagsmuseet.sl.se&quot;
        rel=&quot;noreferrer nofollow&quot;&gt;www.sparvagsmuseet.sl.se&lt;/a&gt;\n\nBecome
        a Facebook fan of Sp\xE5rv\xE4gsmuseet at\n&lt;a href=&quot;http://www.facebook.com/pages/Stockholm-Sweden/Sparvagsmuseet/27..&quot;
        rel=&quot;noreferrer nofollow&quot;&gt;www.facebook.com/pages/Stockholm-Sweden/Sparvagsmuseet/27..&lt;/a&gt;.</description>\n\t<photosurl>https://www.flickr.com/photos/stockholmtransportmuseum_commons/</photosurl>\n\t<profileurl>https://www.flickr.com/people/stockholmtransportmuseum_commons/</profileurl>\n\t<mobileurl>https://www.flickr.com/photos/stockholmtransportmuseum_commons/</mobileurl>\n\t<photos>\n\t\t<firstdatetaken>1888-01-01
        00:00:00</firstdatetaken>\n\t\t<firstdate>1313490839</firstdate>\n\t\t<count>250</count>\n\t</photos>\n</person>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Root=1-66b3958c-789e925a6497d97033a91227
      x-server:
      - serverless-proxy-10.78.15.252
    status:
      code: 200
      message: OK
version: 1
