interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Coriginal_format%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Ctags%2Curl_q%2Curl_l%2Cdescription%2Csafety_level%2Crealname&method=flickr.photos.search&page=1&per_page=100&sort=interestingness-desc&tags=botany
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photos
      page=\"1\" pages=\"3680\" perpage=\"100\" total=\"367971\">\n\t<photo id=\"3852533720\"
      owner=\"58587053@N00\" secret=\"ca279e7abe\" server=\"3520\" farm=\"4\" title=\"Purple
      Coneflower\" ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" license=\"0\" safety_level=\"0\"
      dateupload=\"1251121268\" datetaken=\"2009-07-15 01:37:52\" datetakengranularity=\"0\"
      datetakenunknown=\"0\" ownername=\"lynn roebuck photography\" tags=\"flowers
      plants white macro purple tennessee coneflower botany lynnroebuckphotography
      lookatthosecones\" media=\"photo\" media_status=\"ready\" url_sq=\"https://live.staticflickr.com/3520/3852533720_ca279e7abe_s.jpg\"
      height_sq=\"75\" width_sq=\"75\" url_t=\"https://live.staticflickr.com/3520/3852533720_ca279e7abe_t.jpg\"
      height_t=\"69\" width_t=\"100\" url_s=\"https://live.staticflickr.com/3520/3852533720_ca279e7abe_m.jpg\"
      height_s=\"165\" width_s=\"240\" url_m=\"https://live.staticflickr.com/3520/3852533720_ca279e7abe.jpg\"
      height_m=\"344\" width_m=\"500\" url_q=\"https://live.staticflickr.com/3520/3852533720_ca279e7abe_q.jpg\"
      height_q=\"150\" width_q=\"150\" url_l=\"https://live.staticflickr.com/3520/3852533720_ca279e7abe_b.jpg\"
      height_l=\"705\" width_l=\"1024\">\n\t\t<description>This is my purple coneflower
      in its transitional white stage. ;-)</description>\n\t</photo>\n\t<photo id=\"53305244649\"
      owner=\"162684392@N05\" secret=\"afd92798fb\" server=\"65535\" farm=\"66\" title=\"Artwork
      of nature\" ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" license=\"0\" safety_level=\"0\"
      dateupload=\"1698937681\" datetaken=\"2020-10-17 14:07:57\" datetakengranularity=\"0\"
      datetakenunknown=\"0\" ownername=\"NiBe60\" realname=\"Bernhard Niedermeier\"
   [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
[...]
