interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getExif&photo_id=9682774177
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
        id=\"9682774177\" secret=\"86976804dd\" server=\"5524\" farm=\"6\" camera=\"Nikon
        D90\">\n\t<exif tagspace=\"JFIF\" tagspaceid=\"0\" tag=\"JFIFVersion\" label=\"JFIFVersion\">\n\t\t<raw>1.02</raw>\n\t</exif>\n\t<exif
        tagspace=\"JFIF\" tagspaceid=\"0\" tag=\"ResolutionUnit\" label=\"Resolution
        Unit\">\n\t\t<raw>inches</raw>\n\t</exif>\n\t<exif tagspace=\"JFIF\" tagspaceid=\"0\"
        tag=\"XResolution\" label=\"X-Resolution\">\n\t\t<raw>300</raw>\n\t\t<clean>300
        dpi</clean>\n\t</exif>\n\t<exif tagspace=\"JFIF\" tagspaceid=\"0\" tag=\"YResolution\"
        label=\"Y-Resolution\">\n\t\t<raw>300</raw>\n\t\t<clean>300 dpi</clean>\n\t</exif>\n\t<exif
        tagspace=\"IFD0\" tagspaceid=\"0\" tag=\"Make\" label=\"Make\">\n\t\t<raw>NIKON
        CORPORATION</raw>\n\t</exif>\n\t<exif tagspace=\"IFD0\" tagspaceid=\"0\" tag=\"Model\"
        label=\"Model\">\n\t\t<raw>NIKON D90</raw>\n\t</exif>\n\t<exif tagspace=\"IFD0\"
        tagspaceid=\"0\" tag=[...]
