interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.commons.getInstitutions
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<institutions>\n\t<institution
        nsid=\"201909310@N04\" date_launch=\"1744906197\">\n\t\t<name>Auckland War
        Memorial Museum T\u0101maki Paenga Hira</name>\n\t\t<urls>\n\t\t\t<url type=\"site\">https://www.aucklandmuseum.com/</url>\n\t\t\t<url
        type=\"license\">https://www.aucklandmuseum.com/discover/collections/using-our-images</url>\n\t\t\t<url
        type=\"flickr\">http://flickr.com/photos/aucklandmuseum_commons/</url>\n\t\t</urls>\n\t</institution>\n\t<institution
        nsid=\"98726691@N05\" date_launch=\"1744897595\">\n\t\t<name>Port Morien Digital
        Archive</name>\n\t\t<urls>\n\t\t\t<url type=\"site\" />\n\t\t\t<url type=\"license\">https://www.flic[...]
