interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Coriginal_format%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Ctags%2Cgeo%2Curl_q%2Curl_l%2Cdescription%2Csafety_level%2Crealname%2Cpath_alias%2Ccount_comments%2Ccount_views&method=flickr.people.getPublicPhotos&page=1&per_page=10&user_id=61270229%40N05
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photos
        page=\"1\" pages=\"2684\" perpage=\"10\" total=\"26834\">\n\t<photo id=\"53741638455\"
        owner=\"61270229@N05\" secret=\"c95f92c37e\" server=\"65535\" farm=\"66\"
        title=\"24-0023-081 (8403864)\" ispublic=\"1\" isfriend=\"0\" isfamily=\"0\"
        license=\"7\" safety_level=\"0\" dateupload=\"1716474418\" datetaken=\"2024-05-23
        10:23:22\" datetakengranularity=\"0\" datetakenunknown=\"1\" ownername=\"NavyMedicine\"
        realname=\"Navy Medicine\" count_views=\"2\" count_comments=\"0\" tags=\"hospitalcorps
        navalmedicalresearchcomma[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
        id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
        License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
        id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
        />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
        url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license
        id=\"2\" name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
        />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
        url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license
        id=\"5\" name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
        />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
        />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
        />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
        />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
        />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Self=1-664f5639-74a95b2f61b2b70f7f82b825;Root=1-664f5639-06ac0d371d7c789a7a837551
      x-server:
      - serverless-proxy-10.78.31.120
    status:
      code: 200
      message: OK
version: 1
