interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Coriginal_format%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Ctags%2Cgeo%2Curl_q%2Curl_l%2Cdescription%2Csafety_level%2Crealname%2Cpath_alias%2Ccount_comments%2Ccount_views&method=flickr.photosets.getPhotos&page=1&per_page=10&photoset_id=72157664284840282&user_id=31575009%40N05
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photoset
      id=\"72157664284840282\" primary=\"24284955104\" owner=\"31575009@N05\" ownername=\"The
      National Archives UK\" page=\"1\" per_page=\"10\" perpage=\"10\" pages=\"3\"
      title=\"The Mangrove Nine\" total=\"21\">\n\t<photo id=\"24819736071\" secret=\"e9c8f76b1d\"
      server=\"1577\" farm=\"2\" title=\"Demonstration/Political Statement\" isprimary=\"0\"
      ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" license=\"7\" safety_level=\"0\"
      dateupload=\"1455012159\" datetaken=\"2016-02-09 10:01:59\" datetakengranularity=\"0\"
      datetakenunknown=\"1\" ownername=\"The National Archives UK\" realname=\"\"
      count_views=\"19038\" count_comments=\"0\" tags=\"\" originalsecret=\"f558de7f40\"
      originalformat=\"jpg\" latitude=\"0\" longitude=\"0\" accuracy=\"0\" context=\"0\"
      media=\"photo\" media_status=\"ready\" url_sq=\"https://live.staticflickr.com/1577/24819736071_e9c8f76b1d_s.jpg\"
      height_sq=\"75\" width_sq=\"75\" url_t=\"https://live.staticflickr.com/1577/24819736071_e9c8f76b1d_t.jpg\"
      height_t=\"100\" width_t=\"70\" url_s=\"https://live.staticflickr.com/1577/24819736071_e9c8f76b1d_m.jpg\"
      height_s=\"240\" width_s=\"168\" url_m=\"https://live.staticflickr.com/1577/24819736071_e9c8f76b1d.jpg\"
      height_m=\"500\" width_m=\"350\" url_o=\"https://live.staticflickr.com/1577/24819736071_f558de7f40_o.jpg\"
      height_o=\"792\" width_o=\"555\" url_q=\"https://live.staticflickr.com/1577/24819736071_e9c8f76b1d_q.jpg\"
      height_q=\"150\" width_q=\"150\" pathalias=\"nationalarchives\">\n\t\t<description>Catalogue
      reference: NA HO 325/143 -Demonstration/ Political statement, 12th August 1970\n\nThis
      open letter written by barrister Anthony Mohipp, secretary of the Black Improvement
      Organisation, announced the demonstration and set out community grievances in
      response to raids on the Mangrove restaurant. It was sent to the Home Office,
      Prime Minister, Harold Wilson (leader of the opposition) and the High Commissioners
      of Jamaica, Trinidad, Guyana and Barbados.\n\nThis image is from the [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Self=1-662fc408-5ed6c51479eee6b02e9f719b;Root=1-662fc408-3ad2f7274ee3dc1b07afe1f8
      x-server:
      - serverless-proxy-10.78.13.106
    status_code: 200
version: 1
