interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.urls.lookupUser&url=https%3A%2F%2Fwww.flickr.com%2Fphotos%2Fgeorge%2F
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<user
      id=\"34427469121@N01\">\n\t<username>George</username>\n</user>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Self=1-662fa907-2451387e63c096cf508a82b4;Root=1-662fa907-1ae84d79339bd3c5459f34f3
      x-server:
      - serverless-proxy-10.78.26.197
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.people.getInfo&user_id=34427469121%40N01
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<person
      id=\"34427469121@N01\" nsid=\"34427469121@N01\" ispro=\"1\" is_deleted=\"0\"
      iconserver=\"1\" iconfarm=\"1\" path_alias=\"george\" has_stats=\"0\" pro_badge=\"standard\"
      expire=\"0\" has_adfree=\"0\" has_free_standard_shipping=\"0\" has_free_educational_resources=\"0\">\n\t<username>George</username>\n\t<realname>George
      Oates</realname>\n\t<mbox_sha1sum>7304ec23d42e12e43d7b2f682708333b5dac5533</mbox_sha1sum>\n\t<location>London,
      United Kingdom</location>\n\t<timezone label=\"Pacific Time (US &amp; Canada);
      Tijuana\" offset=\"-08:00\" timezone_id=\"PST8PDT\" timezone=\"5\" />\n\t<description>&lt;b&gt;&lt;i&gt;It&#039;s
      very important to be astonished by everything.&lt;/i&gt;&lt;/b&gt;\n\nHello.
      I work here. I&#039;m heading up the new &lt;a href=&quot;https://flickr.org&quot;
      rel=&quot;noreferrer nofollow&quot;&gt;Flickr Foundation&lt;/a&gt;. \n\nA lot
      of my photos on Flickr have a Creative Commons license attached to them, so
      if you happen to stumble on one of those that you could make use of under that
      license, please go ahead! I&#039;ve chosen to reserve all rights on most of
      the photos I&#039;ve taken of family and friends in a personal or candid setting.</description>\n\t<photosurl>https://www.flickr.com/photos/george/</photosurl>\n\t<profileurl>https://www.flickr.com/people/george/</profileurl>\n\t<mobileurl>https://www.flickr.com/photos/george/</mobileurl>\n\t<photos>\n\t\t<firstdatetaken>1907-01-01
      00:00:00</firstdatetaken>\n\t\t<firstdate>1076118193</firstdate>\n\t\t<count>7845</count>\n\t</photos>\n</person>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Self=1-662fa907-6ddf37e672ceb5603ec657a2;Root=1-662fa907-712ba137180451ee375172a9
      x-server:
      - serverless-proxy-10.78.27.207
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Coriginal_format%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Ctags%2Cgeo%2Curl_q%2Curl_l%2Cdescription%2Csafety_level%2Crealname%2Cowner%2Cpath_alias&method=flickr.people.getPublicPhotos&page=1&per_page=10&user_id=34427469121%40N01
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photos
      page=\"1\" pages=\"785\" perpage=\"10\" total=\"7845\">\n\t<photo id=\"53637883806\"
      owner=\"34427469121@N01\" secret=\"ff06bb5c65\" server=\"65535\" farm=\"66\"
      title=\"Guess where\" ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" license=\"0\"
      safety_level=\"0\" dateupload=\"1712509720\" datetaken=\"2024-04-07 16:09:01\"
      datetakengranularity=\"0\" datetakenunknown=\"0\" ownername=\"George\" realname=\"George
      Oates\" tags=\"\" originalsecret=\"7917d6e9a2\" originalformat=\"jpg\" latitude=\"0\"
      longitude=\"0\" accuracy=\"0\" co[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
   [...]
[...]
