interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.urls.lookupGroup&url=https%3A%2F%2Fwww.flickr.com%2Fgroups%2Fslovenia%2Fpool%2F
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<group
      id=\"31849566@N00\">\n\t<groupname>Slovenia</groupname>\n</group>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Self=1-662fcc95-35f7a555648974e42c27abbe;Root=1-662fcc95-6bfd2a8e7a8f65946e86cb72
      x-server:
      - serverless-proxy-10.78.10.17
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Coriginal_format%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Ctags%2Cgeo%2Curl_q%2Curl_l%2Cdescription%2Csafety_level%2Crealname%2Cpath_alias%2Ccount_comments%2Ccount_views&group_id=31849566%40N00&method=flickr.groups.pools.getPhotos&page=1&per_page=10
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photos
      page=\"1\" pages=\"4484\" perpage=\"10\" total=\"44840\">\n\t<photo id=\"53686676075\"
      owner=\"127849392@N04\" secret=\"e141202fb7\" server=\"65535\" farm=\"66\" title=\"Horizon\"
      ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" ownername=\"Urko Photography\"
      dateadded=\"1714378910\" license=\"0\" safety_level=\"0\" dateupload=\"1714378907\"
      datetaken=\"2020-05-03 13:43:27\" datetakengranularity=\"0\" datetakenunknown=\"0\"
      realname=\"URKO FOTO\" count_views=\"89\" count_comments=\"4\" tags=\"urkophotography
      urkofoto urko photogra[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
   [...]
[...]
