interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Coriginal_format%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Ctags%2Cgeo%2Curl_q%2Curl_l%2Cdescription%2Csafety_level%2Crealname%2Cpath_alias%2Ccount_comments%2Ccount_views&method=flickr.people.getPublicPhotos&page=1&per_page=10&user_id=200049760%40N08
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photos
      page=\"1\" pages=\"1\" perpage=\"10\" total=\"7\">\n\t<photo id=\"53619326403\"
      owner=\"200049760@N08\" secret=\"3bc8ef2f43\" server=\"65535\" farm=\"66\" title=\"wet
      poppy\" ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" license=\"7\" safety_level=\"0\"
      dateupload=\"1711743634\" datetaken=\"2024-03-29 16:19:22\" datetakengranularity=\"0\"
      datetakenunknown=\"1\" ownername=\"CommonsTestAccount\" count_views=\"93\" count_comments=\"0\"
      tags=\"\" originalsecret=\"f281b12ff8\" originalformat=\"jpg\" latitude=\"0\"
      longitude=\"0\" accuracy=\"0\" context=\"0\" media=\"photo\" media_status=\"ready\"
      url_sq=\"https://live.staticflickr.com/65535/53619326403_3bc8ef2f43_s.jpg\"
      height_sq=\"75\" width_sq=\"75\" url_t=\"https://live.staticflickr.com/65535/53619326403_3bc8ef2f43_t.jpg\"
      height_t=\"61\" width_t=\"100\" url_s=\"https://live.staticflickr.com/65535/53619326403_3bc8ef2f43_m.jpg\"
      height_s=\"148\" width_s=\"240\" url_m=\"https://live.staticflickr.com/65535/53619326403_3bc8ef2f43.jpg\"
      height_m=\"307\" width_m=\"500\" url_o=\"https://live.staticflickr.com/65535/53619326403_f281b12ff8_o.jpg\"
      height_o=\"1889\" width_o=\"3072\" url_q=\"https://live.staticflickr.com/65535/53619326403_3bc8ef2f43_q.jpg\"
      height_q=\"150\" width_q=\"150\" url_l=\"https://live.staticflickr.com/65535/53619326403_3bc8ef2f43_b.jpg\"
      height_l=\"630\" width_l=\"1024\" pathalias=\"\">\n\t\t<description>originally
      from\n\n&lt;a href=&quot;https://www.flickr.com/photos/calliope/albums/72157605414248215/&quot;&gt;www.flickr.com/photos/calliope/albums/72157605414248215/&lt;/a&gt;\n\nUsed
      with permission</description>\n\t</photo>\n\t<photo id=\"53619455629\" owner=\"200049760@N08\"
      secret=\"3305808683\" server=\"65535\" farm=\"66\" title=\"poppy bud\" ispublic=\"1\"
      isfriend=\"0\" isfamily=\"0\" license=\"7\" safety_level=\"0\" dateupload=\"1711743633\"
      datetaken=\"201[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Self=1-66321529-079481014b82caec6a6a0b1b;Root=1-66321529-65033bca2e5860f477d68cac
      x-server:
      - serverless-proxy-10.78.13.106
    status_code: 200
version: 1
