interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.people.getInfo&user_id=46143783%40N04
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<person
      id=\"46143783@N04\" nsid=\"46143783@N04\" ispro=\"1\" is_deleted=\"0\" iconserver=\"3804\"
      iconfarm=\"4\" path_alias=\"\" has_stats=\"0\" pro_badge=\"standard\" expire=\"0\"
      has_adfree=\"0\" has_free_standard_shipping=\"0\" has_free_educational_resources=\"0\">\n\t<username>Barra1man
      (Busy in the Garden)</username>\n\t<realname>Barra1man (Busy in the Garden)</realname>\n\t<mbox_sha1sum>883bd71722f22dfb348ffae0fd0e1e1a918bc3e7</mbox_sha1sum>\n\t<location
      />\n\t<timezone label=\"Pacific Time (US &amp; Canada); Tijuana\" offset=\"-08:00\"
      timezone_id=\"PST8PDT\" timezone=\"5\" />\n\t<description />\n\t<photosurl>https://www.flickr.com/photos/46143783@N04/</photosurl>\n\t<profileurl>https://www.flickr.com/people/46143783@N04/</profileurl>\n\t<mobileurl>https://www.flickr.com/photos/46143783@N04/</mobileurl>\n\t<photos>\n\t\t<firstdatetaken>2010-01-02
      14:23:09</firstdatetaken>\n\t\t<firstdate>1262470989</firstdate>\n\t\t<count>1440</count>\n\t</photos>\n</person>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Self=1-6602a72a-15aaa6f910bf3bcb08bd2b63;Root=1-6602a72a-05b4bf5b495f03af47ec31c6
      x-server:
      - serverless-proxy-10.78.12.116
    status_code: 200
version: 1
