interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=4895431370
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
        id=\"4895431370\" secret=\"f2bdd1e68a\" server=\"4079\" farm=\"5\" dateuploaded=\"1281906139\"
        isfavorite=\"0\" license=\"0\" safety_level=\"0\" rotation=\"0\" originalsecret=\"6fca54fb7f\"
        originalformat=\"jpg\" views=\"70\" media=\"photo\">\n\t<owner nsid=\"7313941@N05\"
        username=\"Matt Watkins\" realname=\"\" location=\"\" iconserver=\"0\" iconfarm=\"0\"
        path_alias=\"\">\n\t\t<gift gift_eligible=\"1\" new_flow=\"1\">\n\t\t\t<eligible_durations
        />\n\t\t\t<eligible_durations />\n\t\t\t<eligible_durations />\n\t\t</gift>\n\t</owner>\n\t<title>tea</title>\n\t<description>Taken
        by Chris Dowling</description>\n\t<visibility ispublic=\"1\" isfriend=\"0\"
        isfamily=\"0\" />\n\t<dates posted=\"1281906139\" taken=\"2010-07-16 20:47:02\"
        takengranularity=\"0\" takenunknown=\"0\" lastupdate=\"1281907144\" />\n\t<editability
        cancomment=\"0\" canaddmeta=\"0\" />\n\t<publiceditability cancomment=\"1\"
        canaddmeta=\"0\" />\n\t<usage candownload=\"1\" canblog=\"0\" canprint=\"0\"
        canshare=\"1\" />\n\t<comments>0</comments>\n\t<notes />\n\t<people haspeople=\"0\"
        />\n\t<tags>\n\t\t<tag id=\"7308601-4895431370-4590\" author=\"7313941@N05\"
        authorname=\"Matt Watkins\" raw=\"tea\" machine_tag=\"0\">tea</tag>\n\t</tags>\n\t<urls>\n\t\t<url
        type=\"photopage\">https://www.flickr.com/photos/7313941@N05/4895431370/</url>\n\t</urls>\n</photo>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Root=1-66b39719-7579061634ccc29c71e7fb8d
      x-server:
      - serverless-proxy-10.78.19.142
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
        id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
        License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
        id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
        />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
        url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license
        id=\"2\" name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getSizes&photo_id=4895431370
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<sizes
        canblog=\"0\" canprint=\"0\" candownload=\"1\">\n\t<size label=\"Square\"
        width=\"75\" height=\"75\" source=\"https://live.staticflickr.com/4079/4895431370_f2bdd1e68a_s.jpg\"
        url=\"https://www.flickr.com/photos/7313941@N05/4895431370/sizes/sq/\" media=\"photo\"
        />\n\t<size label=\"Large Square\" width=\"150\" height=\"150\" source=\"https://live.staticflickr.com/4079/4895431370_f2bdd1e68a_q.jpg\"
        url=\"https://www.flickr.com/photos/7313941@N05/4895431370/sizes/q/\" media=\"photo\"
        />\n\t<size label=\"Thumbnail\"[...]
