interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.people.getInfo&user_id=28660070%40N07
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<person
        id=\"28660070@N07\" nsid=\"28660070@N07\" ispro=\"1\" is_deleted=\"0\" iconserver=\"5556\"
        iconfarm=\"6\" path_alias=\"icann\" has_stats=\"0\" pro_badge=\"standard\"
        expire=\"0\" has_adfree=\"0\" has_free_standard_shipping=\"0\" has_free_educational_resources=\"0\">\n\t<username>icannphotos</username>\n\t<realname
        />\n\t<location />\n\t<description>The Internet Corporation for Assigned Names
        and Numbers, ICANN</description>\n\t<photosurl>https://www.flickr.com/photos/icann/</photosurl>\n\t<profileurl>https://www.flickr.com/people/icann/</profileurl>\n\t<mobileurl>https://www.flickr.com/photos/icann/</mobileurl>\n\t<photos>\n\t\t<firstdatetaken>2000-01-01
        00:00:02</firstdatetaken>\n\t\t<firstdate>1216267277</firstdate>\n\t\t<count>51859</count>\n\t</photos>\n</person>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Root=1-66d57873-70a7576c11ec4ab71b02b540
      x-server:
      - serverless-proxy-10.78.46.76
    status:
      code: 200
      message: OK
version: 1
