interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getAllContexts&photo_id=53563844904
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<set
      title=\"Explored ,and more views\" id=\"72157691336706490\" primary=\"38277778044\"
      secret=\"8513e74097\" server=\"4646\" farm=\"5\" view_count=\"382\" comment_count=\"0\"
      count_photo=\"138\" count_video=\"0\" />\n<set title=\"Summer in Iceland\" id=\"72157644910143860\"
      primary=\"51305971597\" secret=\"3b7c2b2a42\" server=\"65535\" farm=\"66\" view_count=\"502\"
      comment_count=\"0\" count_photo=\"72\" count_video=\"0\" />\n<pool title=\"&quot;Los
      mejores momentos de tu d\xEDa&quot;\" url=\"/groups/los_mejores_momentos_de_tu_dia/pool/\"
      id=\"663100@N21\" iconserver=\"65535\" iconfarm=\"66\" members=\"7551\" pool_count=\"511234\"
      />\n<pool title=\"Official National Geographic Group\" url=\"/groups/ngmanimallovers/pool/\"
      id=\"650323@N24\" iconserver=\"3047\" iconfarm=\"4\" members=\"39565\" pool_count=\"2953338\"
      />\n<pool title=\"Monta\xF1as&amp;Mar / Mountains&amp;Sea. GRACIAS A TOD@S\"
   [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.galleries.getListForPhoto&per_page=500&photo_id=53563844904
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<galleries
      total=\"11\" page=\"1\" pages=\"1\" per_page=\"500\" photo_id=\"53563844904\">\n\t<gallery
      id=\"72781281-72157721626742458\" gallery_id=\"72157721626742458\" url=\"https://www.flickr.com/photos/72804335@N03/galleries/72157721626742458\"
      owner=\"72804335@N03\" username=\"Josep M.Toset\" iconserver=\"7155\" iconfarm=\"8\"
      primary_photo_id=\"53236689988\" date_create=\"1680980061\" date_update=\"1714564015\"
      count_photos=\"166\" count_videos=\"0\" count_total=\"166\" count_views=\"152\"
      count_comments=\"4\" sort_group=\"\" primary_photo_server=\"65535\" primary_photo_farm=\"66\"
      primary_photo_secret=\"a2264657a3\">\n\t\t<title>paisatges</title>\n\t\t<description
      />\n\t</gallery>\n\t<gallery id=\"199733292-72157722360250193\" gallery_id=\"72157722360250193\"
      url=\"https://www.flickr.com/photos/lizzycatbeam/galleries/72157722360250193\"
      owner=\"199778614@N06\" username=\"Sunbeam on the Moon\" iconserver=\"65535\"
      iconfarm=\"66\" primary_photo_id=\"28411246902\" date_create=\"1703363011\"
      date_update=\"1714510556\" count_photos=\"114\" count_videos=\"0\" count_total=\"114\"
      count_views=\"37\" count_comments=\"7\" sort_group=\"\" primary_photo_server=\"8648\"
      primary_photo_farm=\"9\" primary_photo_secret=\"979bed8e1b\">\n\t\t<title>Do
      you believe in Magic?</title>\n\t\t<description />\n\t</gallery>\n\t<gallery
      id=\"152551672-72157722508229558\" gallery_id=\"72157722508229558\" url=\"https://www.flickr.com/photos/andrzej_kocot/galleries/72157722508229558\"
      owner=\"152644485@N08\" username=\"Andrzej Kocot\" iconserver=\"65535\" iconfarm=\"66\"
      primary_photo_id=\"53491575457\" date_create=\"1706519920\" date_update=\"1713011276\"
      count_photos=\"497\" count_videos=\"0\" count_total=\"497\" count_views=\"464\"
      count_comments=\"19\" sort_group=\"\" [...]
