interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=53509656752
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
        id=\"53509656752\" secret=\"594008e8e3\" server=\"65535\" farm=\"66\" dateuploaded=\"1707143670\"
        isfavorite=\"0\" license=\"7\" safety_level=\"0\" rotation=\"0\" originalsecret=\"75c674d756\"
        originalformat=\"jpg\" views=\"570\" media=\"photo\">\n\t<owner nsid=\"126364681@N08\"
        username=\"Congregation of Sisters of St. Joseph in Canada\" realname=\"Congregation
        of Sisters of St. Joseph in Canada\" location=\"Canada\" iconserver=\"65535\"
        iconfarm=\"66\" path_alias=\"csj_canada_archives\">\n\t\t<gift gift_eligible=\"\"
        new_flow=\"1\" />\n\t</owner>\n\t<title>f13-s013-07-081-house-providence-marian-villa</title>\n\t<description>13
        women of advanced age are seated in upholstered chairs around the perimeter
        of a large common room with hardwood floors at House of Providence, London,
        Ontario. The women are doing hand sewing, reading, or resting.  An unnamed
        Sister, dressed in traditional habit, stands near a closed door in conversation
        with one of the women.</description>\n\t<visibility ispublic=\"1\" isfriend=\"0\"
        isfamily=\"0\" />\n\t<dates posted=\"1707143670\" taken=\"1923-01-01 00:00:00\"
        takengranularity=\"8\" takenunknown=\"0\" lastupdate=\"1708349145\" />\n\t<editability
        cancomment=\"0\" canaddmeta=\"0\" />\n\t<publiceditability cancomment=\"1\"
        canaddmeta=\"1\" />\n\t<usage candownload=\"1\" canblog=\"0\" canprint=\"0\"
        canshare=\"1\" />\n\t<comments>0</comments>\n\t<notes />\n\t<people haspeople=\"0\"
        />\n\t<tags>\n\t\t<tag id=\"126271868-53509656752-451\" author=\"126364681@N08\"
        authorname=\"Congregation of Sisters of St. Joseph in Canada\" raw=\"Canada\"
        machine_tag=\"\">canada</tag>\n\t\t<tag id=\"126271868-53509656752-635581\"
        author=\"126364681@N08\" authorname=\"Congregation of Sisters of St. Joseph
        in Canada\" raw=\"London (Ont.)\" machine_tag=\"\">londonont</tag>\n\t\t<tag
        id=\"126271868-53509656752-4329706\" author=\"126364681@N08\" authorname=\"Congregation
        of Sisters of St. Joseph in Canada\" raw=\"Medical care\" machine_tag=\"\">medicalcare</tag>\n\t\t<tag
        id=\"126271868-53509656752-5008\" author=\"126364681@N08\" authorname=\"Congregation
        of Sisters of St. Joseph in Canada\" raw=\"Sister\" machine_tag=\"\">sister</tag>\n\t\t<tag
        id=\"126271868-53509656752-7826493\" author=\"126364681@N08\" authorname=\"Congregation
        of Sisters of St. Joseph in Canada\" raw=\"Sisters of St. Joseph\" machine_tag=\"\">sistersofstjoseph</tag>\n\t\t<tag
        id=\"126271868-53509656752-2997\" author=\"126364681@N08\" authorname=\"Congregation
        of Sisters of St. Joseph in Canada\" raw=\"Women\" machine_tag=\"\">women</tag>\n\t</tags>\n\t<location
        latitude=\"42.998825\" longitude=\"-81.256198\" accuracy=\"15\" context=\"0\">\n\t\t<locality>Broughdale</locality>\n\t\t<neighbourhood
        />\n\t\t<region>Ontario</region>\n\t\t<country>Canada</country>\n\t</location>\n\t<geoperms
        ispublic=\"1\" iscontact=\"0\" isfriend=\"0\" isfamily=\"0\" />\n\t<urls>\n\t\t<url
        type=\"photopage\">https://www.flickr.com/photos/csj_canada_archives/53509656752/</url>\n\t</urls>\n</photo>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Root=1-66e2c049-40304fa7629a7f8b131b6850
      x-server:
      - serverless-proxy-10.78.3.100
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
        id=\"0\" name=\"All Rights Reserved\" url=\"https://www.flickrhelp.com/hc/en-us/articles/10710266545556-Using-Flickr-images-shared-by-other-members\"
        />\n\t<license id=\"4\" name=\"CC BY 2.0\" url=\"https://creativecommons.org/licenses/by/2.0/\"
        />\n\t<license id=\"6\" name=\"CC BY-ND 2.0\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
        />\n\t<license id=\"3\" name=\"CC BY-NC-ND 2.0\" url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\"
        />\n\t<license id=\"2\" name=\"CC BY-NC 2.0\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
        />\n\t<license id=\"1\" name=\"CC BY-NC-SA 2.0\" url=\"https://creativecomm[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getSizes&photo_id=53509656752
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<sizes
        canblog=\"0\" canprint=\"0\" candownload=\"1\">\n\t<size label=\"Square\"
        width=\"75\" height=\"75\" source=\"https://live.staticflickr.com/65535/53509656752_594008e8e3_s.jpg\"
        url=\"https://www.flickr.com/photos/csj_canada_archives/53509656752/sizes/sq/\"
        media=\"photo\" />\n\t<size label=\"Large Square\" width=\"150\" height=\"150\"
        source=\"https://live.staticflickr.com/65535/53509656752_594008e8e3_q.jpg\"
        url=\"https://www.flickr.com/photos/csj_canada_archives/53509656752/sizes/q/\"
        media=\"photo\" /[...]
