interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://flickr.com
  response:
    body:
      string: "<!DOCTYPE html><!-- Last Published: Thu Feb 06 2025 18:00:28 GMT+0000
        (Coordinated Universal Time) --><html data-wf-domain=\"webflow.flickr.net\"
        data-wf-page=\"66a031f9fc343c5e42d965d1\" data-wf-site=\"66a031f9fc343c5e42d965ca\"
        lang=\"en\"><head><meta charset=\"utf-8\"/><title>Flickr | The best place
        to be a photographer online.</title><meta content=\"The nicest place on the
        internet is here for you: inspiration, community, creativity, art, passion,
        and a heaping scoop of weirdness await you. Join for free.\" name=\"description\"/><meta
        content=\"Flickr | The best place to be a photographer online.\" property=\"og:title\"/><meta
        content=\"The nicest place on the internet is here for you: inspiration, community,
        creativity, art, passion, and a heaping scoop of weirdness await you. Join
        for free.\" property=\"og:description\"/><meta content=\"https://combo.staticflickr.com/66a031f9fc343c5e42d965ca/671aaf5d51c929e483e8b26d_Open%20Graph%20Home.jpg\"
        property=\"og:image\"/><meta content=\"Flickr | The best place to be a photographer
        online.\" property=\"twitter:title\"/><meta content=\"The nicest place on
        the internet is here for you: inspiration, community, creativity, art, passion,
        and a heaping scoop of weirdness await you. Join for free.\" property=\"twitter:description\"/><meta
        content=\"https://combo.staticflickr.com/66a031f9fc343c5e42d965ca/671aaf5d51c929e483e8b26d_Open%20Graph%20Home.jpg\"
        property=\"twitter:image\"/><meta property=\"og:type\" content=\"website\"/><meta
        content=\"summary_large_image\" name=\"twitter:card\"/><meta content=\"width=device-width,
        initial-scale=1\" name=\"viewport\"/><link href=\"https://combo.staticflickr.com/66a031f9fc343c5e42d965ca/css/the-revenge-of-flickr-2345678e483294783.6fb57ae1c.css\"
        rel=\"stylesheet\" type=\"text/css\"/><script src=\"https://use.typekit.net/mfk0pql.js\"
        type=\"text/javascript\"></script><script type=\"text/javascript\">try{Typekit.load();}catch(e){}</script><script
        type=\"text/javascript\">!function(o,c){var n=c.documentElement,t=\" w-mod-\";n.className+=t+\"js\",(\"ontouchstart\"in
        o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+\"touch\")}(window,document);</script><link
        href=\"https://combo.staticflickr.com/66a031f9fc343c5e42d965ca/67167dc1d73d7b88afde5a85_Flickr%20Fave.png\"
        rel=\"shortcut icon\" type=\"image/x-icon\"/><link href=\"https://combo.staticflickr.com/66a031f9fc343c5e42d965ca/67167dd041b0982f0f230dab_flickr-webclip.png\"
        rel=\"apple-touch-icon\"/><script type=\"text/javascript\" src=\"https://cdn.weglot.com/weglot.min.js\"></script>\n<script>\n
        \   Weglot.initialize({\n        api_key: 'wg_0a57b843dd2eb8584ade033db89f74c87'\n
        \   });\n  \n  Weglot.on(\"languageChanged\", function(newLang, prevLang)
        {\n  const html = document.querySelector('html')\n  html.setAttribute('lang',
        newLang)\n})\n  \n</script>\n\n\n\n<script \ntr-color-vars=\"background,text,card-background\"
        \nduration=\"0.5\" \nease=\"power1.out\" \nsrc=\"https://cdn.jsdelivr.net/gh/flowtricks/scripts@v1.0.4/dark-mode-toggle.js\">\n</script>\n\n<script
        src=\"https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js\"></script>\n\n<style>\n
        \ .light-mode-image { display: block !important; }\n.dark-mode-image { display:
        none! important; }\nhtml.dark-mode .light-mode-image { display: none !important;
        }\nhtml.dark-mode .dark-mode-image { display: block !important; }\n  \n   .light-mode-logo
        { display: block !important; }\n.dark-mode-logo { display: none! important;
        }\nhtml.dark-mode .light-mode-logo { display: none !important; }\nhtml.dark-mode
        .dark-mode-logo { display: block !import[...]
