interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=2959326615
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
        id=\"2959326615\" secret=\"af04f9878a\" server=\"3190\" farm=\"4\" dateuploaded=\"1224547791\"
        isfavorite=\"0\" license=\"7\" safety_level=\"0\" rotation=\"0\" originalsecret=\"58635430ca\"
        originalformat=\"jpg\" views=\"205509\" media=\"photo\">\n\t<owner nsid=\"29454428@N08\"
        username=\"State Library of NSW\" realname=\"State Library of New South Wales\"
        location=\"Australia\" iconserver=\"8544\" iconfarm=\"9\" path_alias=\"statelibraryofnsw\">\n\t\t<gift
        gift_eligible=\"\" new_flow=\"1\" />\n\t</owner>\n\t<title>Blizzard, the pup
        in Antarctica / photograph by Frank Hurley</title>\n\t<description>Format:
        Silver gelatin negative\n\nPrint this image on a product via our &lt;a href=&quot;http://www.redbubble.com/people/madewithslnsw&quot;
        rel=&quot;noreferrer nofollow&quot;&gt;#madewithslnsw store on Redbubble&lt;/a&gt;.
        \n\nNotes: First Australasian Antarctic Expedition, 1911-1914\n\nFrank Hurley
        visited the Antarctic six times between 1911 and 1932. For more information
        and pictures, visit Discover Collections: Hurley&#039;s Antarctica on the
        State Library of NSW&#039;s website: &lt;a href=&quot;http://www.sl.nsw.gov.au/discover_collections/natural_world/antarctica/hurley/index.html&quot;
        rel=&quot;noreferrer nofollow&quot;&gt;www.sl.nsw.gov.au/discover_collections/natural_world/anta...&lt;/a&gt;\n\nFrom
        the collections of the Mitchell Library, State Library of New South Wales
        &lt;a href=&quot;http://www.sl.nsw.gov.au&quot; rel=&quot;noreferrer nofollow&quot;&gt;www.sl.nsw.gov.au&lt;/a&gt;\n\nInformation
        about photographic collections of the State Library of New South Wales: &lt;a
        href=&quot;http://acms.sl.nsw.gov.au/search/SimpleSearch.aspx&quot; rel=&quot;noreferrer
        nofollow&quot;&gt;acms.sl.nsw.gov.au/search/SimpleSearch.aspx&lt;/a&gt;\n\nPersistent
        url: &lt;a href=&quot;http://acms.sl.nsw.gov.au/item/itemDetailPaged.aspx?itemID=41576&quot;
        rel=&quot;noreferrer nofollow&quot;&gt;acms.sl.nsw.gov.au/item/itemDetailPaged.aspx?itemID=41576&lt;/a&gt;</description>\n\t<visibility
        ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" />\n\t<dates posted=\"1224547791\"
        taken=\"1912-01-01 00:00:00\" takengranularity=\"8\" takenunknown=\"0\" lastupdate=\"1666715810\"
        />\n\t<editability cancomment=\"0\" canaddmeta=\"0\" />\n\t<publiceditability
        cancomment=\"1\" canaddmeta=\"1\" />\n\t<usage candownload=\"1\" canblog=\"0\"
        canprint=\"0\" canshare=\"1\" />\n\t<comments>526</comments>\n\t<notes>\n\t\t<note
        id=\"72157618520987052\" photo_id=\"2959326615\" author=\"38017871@N04\" authorname=\"Membedeep\"
        authorrealname=\"Valentin Manus\" authorispro=\"0\" authorisdeleted=\"0\"
        x=\"7\" y=\"279\" w=\"50\" h=\"50\">Nice siberian husky!</note>\n\t\t<note
        id=\"72157620890011304\" photo_id=\"2959326615\" author=\"34870218@N07\" authorname=\"othercoby\"
        authorrealname=\"\" authorispro=\"0\" authorisdeleted=\"0\" x=\"236\" y=\"200\"
        w=\"50\" h=\"50\">the size of those paws!</note>\n\t\t<note id=\"72157620950652211\"
        photo_id=\"2959326615\" author=\"39954472@N02\" authorname=\"Nicole Lee(:\"
        authorrealname=\"Nicole Allen\" authorispro=\"0\" authorisdeleted=\"0\" x=\"289\"
        y=\"80\" w=\"50\" h=\"50\">Such a cute expression!</note>\n\t\t<note id=\"72157621254313277\"
        photo_id=\"2959326615\" author=\"47811210@N00\" authorname=\"liyananaznim\"
        authorrealname=\"LiyanaNaznim\" authorispro=\"0\" authorisdeleted=\"0\" x=\"315\"
        y=\"74\" w=\"50\"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
        id=\"0\" name=\"All Rights Reserved\" url=\"https://www.flickrhelp.com/hc/en-us/articles/10710266545556-Using-Flickr-images-shared-by-other-members\"
        />\n\t<license id=\"4\" name=\"CC BY 2.0\" url=\"https://creativecommons.org/licenses/by/2.0/\"
        />\n\t<license id=\"6\" name=\"CC BY-ND 2.0\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
        />\n\t<license id=\"3\" name=\"CC BY-NC-ND 2.0\" url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\"
        />\n\t<license id=\"2\" name=\"CC BY-NC 2.0\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
        />\n\t<license id=\"1\" name=\"CC BY-NC-SA 2.0\" url=\"https://creativecomm[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getSizes&photo_id=2959326615
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<sizes
        canblog=\"0\" canprint=\"0\" candownload=\"1\">\n\t<size label=\"Square\"
        width=\"75\" height=\"75\" source=\"https://live.staticflickr.com/3190/2959326615_af04f9878a_s.jpg\"
        url=\"https://www.flickr.com/photos/statelibraryofnsw/2959326615/sizes/sq/\"
        media=\"photo\" />\n\t<size label=\"Large Square\" width=\"150\" height=\"150\"
        source=\"https://live.staticflickr.com/3190/2959326615_af04f9878a_q.jpg\"
        url=\"https://www.flickr.com/photos/statelibraryofnsw/2959326615/sizes/q/\"
        media=\"photo\" />\n\t<size[...]
