interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=29826215532
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
        id=\"29826215532\" secret=\"c65d485d70\" server=\"8278\" farm=\"9\" dateuploaded=\"1474891587\"
        isfavorite=\"0\" license=\"7\" safety_level=\"0\" rotation=\"0\" originalsecret=\"1c3daca466\"
        originalformat=\"jpg\" views=\"9767\" media=\"photo\">\n\t<owner nsid=\"62173425@N02\"
        username=\"Stockholm Transport Museum Commons\" realname=\"tockholm Transport
        Museum\" location=\"\" iconserver=\"6199\" iconfarm=\"7\" path_alias=\"stockholmtransportmuseum_commons\">\n\t\t<gift
        gift_eligible=\"\" new_flow=\"1\" />\n\t</owner>\n\t<title>2017-59-89</title>\n\t<description>Sp\xE5rv\xE4gsmuseet</description>\n\t<visibility
        ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" />\n\t<dates posted=\"1474891587\"
        taken=\"2016-09-02 10:48:31\" takengranularity=\"0\" takenunknown=\"1\" lastupdate=\"1525466995\"
        />\n\t<editability cancomment=\"0\" canaddmeta=\"0\" />\n\t<publiceditability
        cancomment=\"1\" canaddmeta=\"0\" />\n\t<usage candownload=\"1\" canblog=\"0\"
        canprint=\"0\" canshare=\"1\" />\n\t<comments>2</comments>\n\t<notes />\n\t<people
        haspeople=\"0\" />\n\t<tags />\n\t<urls>\n\t\t<url type=\"photopage\">https://www.flickr.com/photos/stockholmtransportmuseum_commons/29826215532/</url>\n\t</urls>\n</photo>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Root=1-669f5fa7-278d23dd7f18149f047cd366
      x-server:
      - serverless-proxy-10.78.0.16
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
        id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
        License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
        id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
        />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
        url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license
        id=\"2\" name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getSizes&photo_id=29826215532
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<sizes
        canblog=\"0\" canprint=\"0\" candownload=\"1\">\n\t<size label=\"Square\"
        width=\"75\" height=\"75\" source=\"https://live.staticflickr.com/8278/29826215532_c65d485d70_s.jpg\"
        url=\"https://www.flickr.com/photos/stockholmtransportmuseum_commons/29826215532/sizes/sq/\"
        media=\"photo\" />\n\t<size label=\"Large Square\" width=\"150\" height=\"150\"
        source=\"https://live.staticflickr.com/8278/29826215532_c65d485d70_q.jpg\"
        url=\"https://www.flickr.com/photos/stockholmtransportmuseum_commons/29826215532/sizes/q/\"
 [...]
