interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=geo%2Ctitle%2Clicense%2Cdate_upload%2Cdate_taken%2Cowner_name%2Cowner%2Cpath_alias%2Crealname&method=flickr.people.getPublicPhotos&page=1&per_page=500&user_id=39758725%40N03
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photos
      page=\"1\" pages=\"2\" perpage=\"500\" total=\"870\">\n\t<photo id=\"23688052201\"
      owner=\"39758725@N03\" secret=\"c7519a6848\" server=\"697\" farm=\"1\" title=\"Railway
      Disasters 11\" ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" license=\"7\" dateupload=\"1450196771\"
      datetaken=\"2015-12-15 11:25:14\" datetakengranularity=\"0\" datetakenunknown=\"1\"
      ownername=\"Dundas Museum and Archives\" latitude=\"0\" longitude=\"0\" accuracy=\"0\"
      context=\"0\" pathalias=\"dundasmuseum\" />\n\t<photo id=\"23661994942\" owner=\"39758725@N03[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Self=1-662fa934-3e8381515510e907678344e9;Root=1-662fa934-73e83bc20e450de60be8cef8
      x-server:
      - serverless-proxy-10.78.16.171
    status_code: 200
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=geo%2Ctitle%2Clicense%2Cdate_upload%2Cdate_taken%2Cowner_name%2Cowner%2Cpath_alias%2Crealname&method=flickr.people.getPublicPhotos&page=3&per_page=500&user_id=39758725%40N03
  response:
    content: '<?xml version="1.0" encoding="utf-8" ?>

      <rsp stat="ok">

      <photos page="3" pages="2" perpage="500" total="870" />

      </rsp>

      '
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Self=1-662fa937-0175786e7e7e42ed3a403e57;Root=1-662fa937-7ae5c005482354ce7c15002a
      x-server:
      - serverless-proxy-10.78.16.171
    status_code: 200
version: 1
