interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Coriginal_format%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Ctags%2Cgeo%2Curl_q%2Curl_l%2Cdescription%2Csafety_level%2Crealname%2Cpath_alias%2Ccount_comments%2Ccount_views&method=flickr.people.getPublicPhotos&page=1&per_page=10&user_id=34427469121%40N01
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photos
      page=\"1\" pages=\"785\" perpage=\"10\" total=\"7846\">\n\t<photo id=\"53687483515\"
      owner=\"34427469121@N01\" secret=\"86bc3fdccb\" server=\"65535\" farm=\"66\"
      title=\"Swanky office flowers at Flickr Foundation HQ\" ispublic=\"1\" isfriend=\"0\"
      isfamily=\"0\" license=\"0\" safety_level=\"0\" dateupload=\"1714403339\" datetaken=\"2024-04-29
      16:07:46\" datetakengranularity=\"0\" datetakenunknown=\"0\" ownername=\"George\"
      realname=\"George Oates\" count_views=\"15\" count_comments=\"0\" tags=\"\"
      originalsecret=\"87a56bdfa5\" originalformat=\"jpg\" latitude=\"0\" longitude=\"0\"
      accuracy=\"0\" context=\"0\" media=\"photo\" media_status=\"ready\" url_sq=\"https://live.staticflickr.com/65535/53687483515_86bc3fdccb_s.jpg\"
      height_sq=\"75\" width_sq=\"75\" url_t=\"https://live.staticflickr.com/65535/53687483515_86bc3fdccb_t.jpg\"
      height_t=\"75\" width_t=\"100\" url_s=\"https://live.staticflickr.com/65535/53687483515_86bc3fdccb_m.jpg\"
      height_s=\"180\" width_s=\"240\" url_m=\"https://live.staticflickr.com/65535/53687483515_86bc3fdccb.jpg\"
      height_m=\"375\" width_m=\"500\" url_o=\"https://live.staticflickr.com/65535/53687483515_87a56bdfa5_o.jpg\"
      height_o=\"3024\" width_o=\"4032\" url_q=\"https://live.staticflickr.com/65535/53687483515_86bc3fdccb_q.jpg\"
      height_q=\"150\" width_q=\"150\" url_l=\"https://live.staticflickr.com/65535/53687483515_86bc3fdccb_b.jpg\"
      height_l=\"768\" width_l=\"1024\" pathalias=\"george\">\n\t\t<description />\n\t</photo>\n\t<photo
      id=\"53637883806\" owner=\"34427469121@N01\" secret=\"ff06bb5c65\" server=\"65535\"
      farm=\"66\" title=\"Guess where\" ispublic=\"1\" isfriend=\"0\" isfamily=\"0\"
      license=\"0\" safety_level=\"0\" dateupload=\"1712509720\" datetaken=\"2024-04-07
      16:09:01\" datetakengranularity=\"0\" datetakenunknown=\"0\" ownername=\"George\"
      realname=\"George Oates\" count_views=\"187\" count_comments=\"8\" tags=\"\"
      originalsecret=\"7917d6e9a2\" origi[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Self=1-662fcd16-53f1303f29d219333b8c21e2;Root=1-662fcd16-7c06484f4ab090ef4538a674
      x-server:
      - serverless-proxy-10.78.11.164
    status_code: 200
version: 1
