interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=51281775881
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
        id=\"51281775881\" secret=\"378d4661d8\" server=\"65535\" farm=\"66\" dateuploaded=\"1625093119\"
        isfavorite=\"0\" license=\"10\" safety_level=\"0\" rotation=\"0\" originalsecret=\"ce67a48eb8\"
        originalformat=\"jpg\" views=\"514099\" media=\"photo\">\n\t<owner nsid=\"61021753@N02\"
        username=\"BioDivLibrary\" realname=\"Biodiversity Heritage Library\" location=\"\"
        iconserver=\"5468\" iconfarm=\"6\" path_alias=\"biodivlibrary\">\n\t\t<gift
        gift_eligible=\"1\" new_flow=\"1\">\n\t\t\t<eligible_durations />\n\t\t\t<eligible_durations
        />\n\t\t\t<eligible_durations />\n\t\t</gift>\n\t</owner>\n\t<title>n224_w1150</title>\n\t<description>Edinburgh
        journal of natural history and of the physical sciences.\nEdinburgh [etc.]
        :Published for the proprietor [etc.],1835-1840.\n&lt;a href=&quot;https://biodiversitylibrary.org/page/33665645&quot;
        rel=&quot;noreferrer nofollow&quot;&gt;biodiversitylibrary.org/page/33665645&lt;/a&gt;</description>\n\t<visibility
        ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" />\n\t<dates posted=\"1625093119\"
        taken=\"2021-06-30 18:45:19\" takengranularity=\"0\" takenunknown=\"1\" lastupdate=\"1694441672\"
        />\n\t<editability cancomment=\"0\" canaddmeta=\"0\" />\n\t<publiceditability
        cancomment=\"1\" canaddmeta=\"1\" />\n\t<usage candownload=\"1\" canblog=\"0\"
        canprint=\"0\" canshare=\"1\" />\n\t<comments>4</comments>\n\t<notes>\n\t\t<note
        id=\"72157721248472381\" photo_id=\"51281775881\" author=\"199029531@N07\"
        authorname=\"tidy amount\" authorrealname=\"Tidy Amount\" authorispro=\"0\"
        authorisdeleted=\"1\" x=\"0\" y=\"18\" w=\"315\" h=\"237\">taxonomy:binomial=&amp;quot;Elephas
        indicus&amp;quot;\ntaxonomy:binomial=&amp;quot;Elephas maximus indicus&amp;quot;\ntaxonomy:common=&amp;quot;Indian
        Elephant&amp;quot;</note>\n\t\t<note id=\"72157721248474098\" photo_id=\"51281775881\"
        author=\"199029531@N07\" authorname=\"tidy amount\" authorrealname=\"Tidy
        Amount\" authorispro=\"0\" authorisdeleted=\"1\" x=\"0\" y=\"261\" w=\"320\"
        h=\"228\">taxonomy:binomial=&amp;quot;Elephas africanus&amp;quot;\ntaxonomy:binomial=&amp;quot;Loxodonta
        africana&amp;quot;\ntaxonomy:common=&amp;quot;African Bush Elephant&amp;quot;</note>\n\t</notes>\n\t<people
        haspeople=\"0\" />\n\t<tags>\n\t\t<tag id=\"61001405-51281775881-10931\" author=\"61021753@N02\"
        authorname=\"BioDivLibrary\" raw=\"Natural history\" machine_tag=\"0\">naturalhistory</tag>\n\t\t<tag
        id=\"61001405-51281775881-75907\" author=\"61021753@N02\" authorname=\"BioDivLibrary\"
        raw=\"Periodicals\" machine_tag=\"0\">periodicals</tag>\n\t\t<tag id=\"61001405-51281775881-459976\"
        author=\"61021753@N02\" authorname=\"BioDivLibrary\" raw=\"Physical sciences\"
        machine_tag=\"0\">physicalscience[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
        id=\"0\" name=\"All Rights Reserved\" url=\"https://www.flickrhelp.com/hc/en-us/articles/10710266545556-Using-Flickr-images-shared-by-other-members\"
        />\n\t<license id=\"4\" name=\"CC BY 2.0\" url=\"https://creativecommons.org/licenses/by/2.0/\"
        />\n\t<license id=\"6\" name=\"CC BY-ND 2.0\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
        />\n\t<license id=\"3\" name=\"CC BY-NC-ND 2.0\" url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\"
        />\n\t<license id=\"2\" name=\"CC BY-NC 2.0\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
        />\n\t<license id=\"1\" name=\"CC BY-NC-SA 2.0\" url=\"https://creativecomm[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getSizes&photo_id=51281775881
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<sizes
        canblog=\"0\" canprint=\"0\" candownload=\"1\">\n\t<size label=\"Square\"
        width=\"75\" height=\"75\" source=\"https://live.staticflickr.com/65535/51281775881_378d4661d8_s.jpg\"
        url=\"https://www.flickr.com/photos/biodivlibrary/51281775881/sizes/sq/\"
        media=\"photo\" />\n\t<size label=\"Large Square\" width=\"150\" height=\"150\"
        source=\"https://live.staticflickr.com/65535/51281775881_378d4661d8_q.jpg\"
        url=\"https://www.flickr.com/photos/biodivlibrary/51281775881/sizes/q/\" media=\"photo\"
        />\n\t<size l[...]
