interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=54159643533
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
        id=\"54159643533\" secret=\"1515544622\" server=\"65535\" farm=\"66\" dateuploaded=\"1732380151\"
        isfavorite=\"0\" license=\"5\" safety_level=\"0\" rotation=\"90\" originalsecret=\"cbda635a39\"
        originalformat=\"jpg\" views=\"221\" media=\"photo\">\n\t<owner nsid=\"36379654@N04\"
        username=\"Igor Zeiger\" realname=\"\" location=\"\" iconserver=\"3601\" iconfarm=\"4\"
        path_alias=\"igorzed\">\n\t\t<gift gift_eligible=\"1\" new_flow=\"1\">\n\t\t\t<eligible_durations
        />\n\t\t\t<eligible_durations />\n\t\t\t<eligible_durations />\n\t\t</gift>\n\t</owner>\n\t<title>The
        Benedictine monastery in Abu Ghosh, officially St Mary of the Resurrection
        Abbey</title>\n\t<description>The Benedictine monastery in Abu Ghosh, officially
        St Mary of the Resurrection Abbey</description>\n\t<visibility ispublic=\"1\"
        isfriend=\"0\" isfamily=\"0\" />\n\t<dates posted=\"1732380151\" taken=\"2024-11-23
        15:56:14\" takengranularity=\"0\" takenunknown=\"0\" lastupdate=\"1732524267\"
        />\n\t<editability cancomment=\"0\" canaddmeta=\"0\" />\n\t<publiceditability
        cancomment=\"1\" canaddmeta=\"1\" />\n\t<usage candownload=\"1\" canblog=\"0\"
        canprint=\"0\" canshare=\"1\" />\n\t<comments>0</comments>\n\t<notes />\n\t<people
        haspeople=\"0\" />\n\t<tags>\n\t\t<tag id=\"36347515-54159643533-35603\" author=\"36379654@N04\"
        authorname=\"Igor Zeiger\" raw=\"Abu\" machine_tag=\"0\">abu</tag>\n\t\t<tag
        id=\"36347515-54159643533-60355\" author=\"36379654@N04\" authorname=\"Igor
        Zeiger\" raw=\"Gosh\" machine_tag=\"0\">gosh</tag>\n\t\t<tag id=\"36347515-54159643533-2198\"
        author=\"36379654@N04\" authorname=\"Igor Zeiger\" raw=\"Israel\" machine_tag=\"0\">israel</tag>\n\t\t<tag
        id=\"36347515-54159643533-12823\" author=\"36379[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
        id=\"0\" name=\"All Rights Reserved\" url=\"https://www.flickrhelp.com/hc/en-us/articles/10710266545556-Using-Flickr-images-shared-by-other-members\"
        />\n\t<license id=\"4\" name=\"Attribution License\" url=\"https://creativecommons.org/licenses/by/2.0/\"
        />\n\t<license id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
        />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
        url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license
        id=\"2\" name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
        />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
        url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license
        id=\"5\" name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
        />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
        />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"https://www.usa.gov/government-copyright\"
        />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
        />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
        />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Root=1-681b5dcb-0a00bf3111eec0771518eba3
      x-server:
      - serverless-proxy-10.78.13.16
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getSizes&photo_id=54159643533
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<sizes
        canblog=\"0\" canprint=\"0\" candownload=\"1\">\n\t<size label=\"Square\"
        width=\"75\" height=\"75\" source=\"https://live.staticflickr.com/65535/54159643533_1515544622_s.jpg\"
        url=\"https://www.flickr.com/photos/igorzed/54159643533/sizes/sq/\" media=\"photo\"
        />\n\t<size label=\"Large Square\" width=\"150\" height=\"150\" source=\"https://live.staticflickr.com/65535/54159643533_1515544622_q.jpg\"
        url=\"https://www.flickr.com/photos/igorzed/54159643533/sizes/q/\" media=\"photo\"
        />\n\t<size label=\"Thumbnail\" w[...]
