interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=54216619200
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
        id=\"54216619200\" secret=\"cd006f932e\" server=\"65535\" farm=\"66\" dateuploaded=\"1734696758\"
        isfavorite=\"0\" license=\"0\" safety_level=\"0\" rotation=\"0\" originalsecret=\"09a02ac89e\"
        originalformat=\"jpg\" views=\"86\" media=\"photo\">\n\t<owner nsid=\"197130754@N07\"
        username=\"Flickr Foundation\" realname=\"Flickr Foundation\" location=\"\"
        iconserver=\"65535\" iconfarm=\"66\" path_alias=\"flickrfoundation\">\n\t\t<gift
        gift_eligible=\"\" new_flow=\"1\" />\n\t</owner>\n\t<title>Donor pins!</title>\n\t<description>We
        have invented three donor tiers: Flamingo, Sparkly Love, and Cherry Tree.
        Find our more: flickr.org/donate\n</description>\n\t<visibility ispublic=\"1\"
        isfriend=\"0\" isfamily=\"0\" />\n\t<dates posted=\"1734696758\" taken=\"2024-12-02
        11:52:58\" takengranularity=\"0\" takenunknown=\"0\" lastupdate=\"1734696761\"
        />\n\t<editability cancomment=\"0\" canaddmeta=\"0\" />\n\t<publiceditability
        cancomment=\"1\" canaddmeta=\"0\" />\n\t<usage candownload=\"1\" canblog=\"0\"
        canprint=\"0\" canshare=\"1\" />\n\t<comments>0</comments>\n\t<notes />\n\t<people
        haspeople=\"1\" />\n\t<tags>\n\t\t<tag id=\"197109424-54216619200-533379773\"
        author=\"197130754@N07\" authorname=\"Flickr Foundation\" raw=\"flickr foundation\"
        machine_tag=\"0\">flickrfoundation</tag>\n\t\t<tag id=\"197109424-54216619200-540709996\"
        author=\"197130754@N07\" authorname=\"Flickr Foundation\" raw=\"flickr.org\"
        machine_tag=\"0\">flickrorg</tag>\n\t\t<tag id=\"197109424-54216619200-1113766\"
        author=\"197130754@N07\" authorname=\"Flickr Foundation\" raw=\"2024\" machine_tag=\"0\">2024</tag>\n\t\t<tag
        id=\"197109424-54216619200-93492\" author=\"197130754@N07\" authorname=\"Flickr
        Foundation\" raw=\"day in the life\" machine_tag=\"0\">dayinthelife</tag>\n\t</tags>\n\t<location
        latitude=\"51.526511\" longitude=\"-0.079362\" accuracy=\"16\" context=\"0\">\n\t\t<locality>Hackney</locality>\n\t\t<county>Greater
        London</county>\n\t\t<region>England</region>\n\t\t<country>UK</country>\n\t\t<neighbourhood>Shoreditch</neighbourhood>\n\t</location>\n\t<geoperms
        ispublic=\"1\" iscontact=\"0\" isfriend=\"0\" isfamily=\"0\" />\n\t<urls>\n\t\t<url
        type=\"photopage\">https://www.flickr.com/photos/flickrfoundation/54216619200/</url>\n\t</urls>\n</photo>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Root=1-681a07e4-79b0f61e379673692cfbeb4e
      x-server:
      - serverless-proxy-10.78.6.164
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
        id=\"0\" name=\"All Rights Reserved\" url=\"https://www.flickrhelp.com/hc/en-us/articles/10710266545556-Using-Flickr-images-shared-by-other-members\"
        />\n\t<license id=\"4\" name=\"CC BY 2.0\" url=\"https://creativecommons.org/licenses/by/2.0/\"
        />\n\t<license id=\"6\" name=\"CC BY-ND 2.0\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
        />\n\t<license id=\"3\" name=\"CC BY-NC-ND 2.0\" url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\"
        />\n\t<license id=\"2\" name=\"CC BY-NC 2.0\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
        />\n\t<license id=\"1\" name=\"CC BY-NC-SA 2.0\" url=\"https://creativecomm[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getSizes&photo_id=54216619200
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<sizes
        canblog=\"0\" canprint=\"0\" candownload=\"1\">\n\t<size label=\"Square\"
        width=\"75\" height=\"75\" source=\"https://live.staticflickr.com/65535/54216619200_cd006f932e_s.jpg\"
        url=\"https://www.flickr.com/photos/flickrfoundation/54216619200/sizes/sq/\"
        media=\"photo\" />\n\t<size label=\"Large Square\" width=\"150\" height=\"150\"
        source=\"https://live.staticflickr.com/65535/54216619200_cd006f932e_q.jpg\"
        url=\"https://www.flickr.com/photos/flickrfoundation/54216619200/sizes/q/\"
        media=\"photo\" />\n\t<[...]
