interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getAllContexts&photo_id=51011950927
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<set
      title=\"Landscape / Nature\" id=\"72157650910758151\" primary=\"40370533623\"
      secret=\"a6c48f1095\" server=\"7862\" farm=\"8\" view_count=\"2312\" comment_count=\"0\"
      count_photo=\"269\" count_video=\"0\" />\n<pool title=\"Beautiful Scenery &amp;
      Landscapes\" url=\"/groups/scenery/pool/\" id=\"78249294@N00\" iconserver=\"65535\"
      iconfarm=\"66\" members=\"43105\" pool_count=\"668576\" />\n<pool title=\"Mountains\"
      url=\"/groups/-pictures-of-mountains/pool/\" id=\"43213679@N00\" iconserver=\"126\"
      iconfarm=\"1\" members=\"19567\" pool_count=\"496501\" />\n<pool title=\"Alpen\"
      url=\"/groups/98257153@N00/pool/\" id=\"98257153@N00\" iconserver=\"59\" iconfarm=\"1\"
      members=\[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.galleries.getListForPhoto&per_page=500&photo_id=51011950927
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<galleries
      total=\"40\" page=\"1\" pages=\"1\" per_page=\"500\" photo_id=\"51011950927\">\n\t<gallery
      id=\"188459847-72157721342956920\" gallery_id=\"72157721342956920\" url=\"https://www.flickr.com/photos/188482901@N03/galleries/72157721342956920\"
      owner=\"188482901@N03\" username=\"thabo64\" iconserver=\"0\" iconfarm=\"0\"
      primary_photo_id=\"51163654259\" date_create=\"1669809248\" date_update=\"1669811096\"
      count_photos=\"5\" count_videos=\"0\" count_total=\"5\" count_views=\"2\" count_comments=\"0\"
      sort_group=\"\" primary_photo_server=\"65535\" primary_photo_farm=\"66\" primary_photo_secret=\"5ee8ea3d32\">\n\t\t<title>NATURAL
      AND ARTIFICIAL WONDERS</title>\n\t\t<description />\n\t</gallery>\n\t<gallery
      id=\"92633851-72157710164778671\" gallery_id=\"72157710164778671\" url=\"https://www.flickr.com/photos/robyboy/galleries/72157710164778671\"
      owner=\"92655181@N07\" username=\"Creative Nature &amp; Wildlife\" iconserver=\"65535\"
      iconfarm=\"66\" primary_photo_id=\"48729424901\" date_create=\"1565212844\"
      date_update=\"1713717382\" count_photos=\"297\" count_videos=\"1\" count_total=\"298\"
      count_views=\"537\" count_comments=\"8\" sort_group=\"\" primary_photo_server=\"65535\"
      primary_photo_farm=\"66\" primary_photo_secret=\"86a90b9c0c\">\n\t\t<title>Winter
      Wonderland</title>\n\t\t<description />\n\t</gallery>\n\t<gallery id=\"92633851-72157721085971948\"
      gallery_id=\"72157721085971948\" url=\"https://www.flickr.com/photos/robyboy/galleries/72157721085971948\"
      owner=\"92655181@N07\" username=\"Creative Nature &amp; Wildlife\" iconserver=\"65535\"
      iconfarm=\"66\" primary_photo_id=\"52378173149\" date_create=\"1663941469\"
      date_update=\"1713267132\" count_photos=\"76\" count_videos=\"0\" count_total=\"76\"
      count_views=\"61\" count_comments=\"3\" sort_group=\"\" primary_photo_server=\"6[...]
