interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.people.getInfo&user_id=47062778%40N06
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<person
        id=\"47062778@N06\" nsid=\"47062778@N06\" ispro=\"1\" is_deleted=\"0\" iconserver=\"2928\"
        iconfarm=\"3\" path_alias=\"ogawasan\" has_stats=\"0\" pro_badge=\"standard\"
        expire=\"0\" has_adfree=\"0\" has_free_standard_shipping=\"0\" has_free_educational_resources=\"0\">\n\t<username>\u5C0F\u5DDD
        Ogawasan</username>\n\t<realname>\u5C0F\u5DDD  Ogawasan</realname>\n\t<location>Kyoto,
        Japan</location>\n\t<timezone label=\"Brussels, Copenhagen, Madrid, Paris\"
        offset=\"+01:00\" timezone_id=\"Europe/Brussels\" timezone=\"30\" />\n\t<description>&lt;b&gt;&lt;a
        href=&quot;https://www.flickr.com/groups/ogawasan/pool/show/with/8656043852/&quot;&gt;\u5C0F\u5DDD
        Ogawasan Portfolio&lt;/a&gt;&lt;/b&gt; \n\n\n&lt;b&gt;Welcome\n\u3088\u3046\u3053\u305D\n
        ...&lt;/b&gt;.. ..\n&lt;b&gt;To the Sacred Route&lt;/b&gt;\n&lt;b&gt;..&lt;/b&gt;\n&lt;b&gt;..&lt;/b&gt;\n\n\n&lt;a
        href=&quot;https://www.flickr.com/photos/ogawasan/11205452233/&quot; title=&quot;Sayonara
        de \u5C0F\u5DDD Ogawasan, sur Flickr&quot;&gt;&lt;[...]
