interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=52483149404
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
        id=\"52483149404\" secret=\"9dd172d218\" server=\"65535\" farm=\"66\" dateuploaded=\"1667800511\"
        isfavorite=\"0\" license=\"4\" safety_level=\"0\" rotation=\"0\" originalsecret=\"cbd683fc8b\"
        originalformat=\"jpg\" views=\"358\" media=\"photo\">\n\t<owner nsid=\"31029865@N06\"
        username=\"Dick Thomas Johnson\" realname=\"Dick Thomas Johnson\" location=\"Tokyo,
        Japan\" iconserver=\"5584\" iconfarm=\"6\" path_alias=\"\">\n\t\t<gift gift_eligible=\"1\"
        new_flow=\"1\">\n\t\t\t<eligible_durations />\n\t\t\t<eligible_durations />\n\t\t\t<eligible_durations
        />\n\t\t</gift>\n\t</owner>\n\t<title>Unko Museum Tokyo</title>\n\t<description>\u3046\u3093\u3053\u30DF\u30E5\u30FC\u30B8\u30A2\u30E0
        TOKYO</description>\n\t<visibility ispublic=\"1\" isfriend=\"0\" isfamily=\"0\"
        />\n\t<dates posted=\"1667800511\" taken=\"2022-08-06 15:04:02\" takengranularity=\"0\"
        takenunknown=\"0\" lastupdate=\"1667800517\" />\n\t<editability cancomment=\"0\"
        canaddmeta=\"0\" />\n\t<publiceditability cancomment=\"1\" canaddmeta=\"0\"
        />\n\t<usage candownload=\"1\" canblog=\"0\" canprint=\"0\" canshare=\"1\"
        />\n\t<comments>0</comments>\n\t<notes />\n\t<people haspeople=\"0\" />\n\t<tags>\n\t\t<tag
        id=\"30984543-52483149404-1038\" author=\"31029865@N06\" authorname=\"Dick
        Thomas Johnson\" raw=\"japan\" machine_tag=\"0\">japan</tag>\n\t\t<tag id=\"30984543-52483149404-2083\"
        author=\"31029865@N06\" authorname=\"Dick Thomas Johnson\" raw=\"tokyo\" machine_tag=\"0\">tokyo</tag>\n\t\t<tag
        id=\"30984543-52483149404-96081\" author=\"31029865@N06\" authorname=\"Dick
        Thomas Johnson\" raw=\"koto\" machine_tag=\"0\">koto</tag>\n\t\t<tag id=\"30984543-52483149404-532229534\"
        author=\"31029865@N06\" authorname=\"Dick Thomas Johnson\" raw=\"\u65E5\"
        machine_tag=\"0\">\u65E5</tag>\n\t\t<tag id=\"30984543-52[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
        id=\"0\" name=\"All Rights Reserved\" url=\"https://www.flickrhelp.com/hc/en-us/articles/10710266545556-Using-Flickr-images-shared-by-other-members\"
        />\n\t<license id=\"4\" name=\"CC BY 2.0\" url=\"https://creativecommons.org/licenses/by/2.0/\"
        />\n\t<license id=\"6\" name=\"CC BY-ND 2.0\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
        />\n\t<license id=\"3\" name=\"CC BY-NC-ND 2.0\" url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\"
        />\n\t<license id=\"2\" name=\"CC BY-NC 2.0\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
        />\n\t<license id=\"1\" name=\"CC BY-NC-SA 2.0\" url=\"https://creativecomm[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getSizes&photo_id=52483149404
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<sizes
        canblog=\"0\" canprint=\"0\" candownload=\"1\">\n\t<size label=\"Square\"
        width=\"75\" height=\"75\" source=\"https://live.staticflickr.com/65535/52483149404_9dd172d218_s.jpg\"
        url=\"https://www.flickr.com/photos/31029865@N06/52483149404/sizes/sq/\" media=\"photo\"
        />\n\t<size label=\"Large Square\" width=\"150\" height=\"150\" source=\"https://live.staticflickr.com/65535/52483149404_9dd172d218_q.jpg\"
        url=\"https://www.flickr.com/photos/31029865@N06/52483149404/sizes/q/\" media=\"photo\"
        />\n\t<size label=\"Thu[...]
