interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=4960396261
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
      id=\"4960396261\" secret=\"18120df31a\" server=\"4118\" farm=\"5\" dateuploaded=\"1283708608\"
      isfavorite=\"0\" license=\"0\" safety_level=\"0\" rotation=\"0\" originalsecret=\"db574f5a7d\"
      originalformat=\"jpg\" views=\"486\" media=\"video\">\n\t<owner nsid=\"91178292@N00\"
      username=\"Bram Pitoyo\" realname=\"Bram Pitoyo\" location=\"Wellington, New
      Zealand\" iconserver=\"4366\" iconfarm=\"5\" path_alias=\"brampitoyo\">\n\t\t<gift
      gift_eligible=\"1\" new_flow=\"1\">\n\t\t\t<eligible_durations />\n\t\t\t<eligible_durations
      />\n\t\t\t<eligible_durations />\n\t\t</gift>\n\t</owner>\n\t<title>Chandni
      Chowk Bazaar, 360\xB0</title>\n\t<description />\n\t<visibility ispublic=\"1\"
      isfriend=\"0\" isfamily=\"0\" />\n\t<dates posted=\"1283708608\" taken=\"2010-09-05
      10:43:28\" takengranularity=\"0\" takenunknown=\"0\" lastupdate=\"1283787057\"
      />\n\t<editability cancomment=\"0\" canaddmeta=\"0\" />\n\t<publiceditability
      cancomment=\"1\" canaddmeta=\"0\" />\n\t<usage candownload=\"1\" canblog=\"0\"
      canprint=\"0\" canshare=\"1\" />\n\t<comments>2</comments>\n\t<notes />\n\t<people
      haspeople=\"0\" />\n\t<tags>\n\t\t<tag id=\"5127903-4960396261-5898\" author=\"91178292@N00\"
      authorname=\"Bram Pitoyo\" raw=\"Delhi\" machine_tag=\"0\">delhi</tag>\n\t\t<tag
      id=\"5127903-4960396261-393\" author=\"91178292@N00\" authorname=\"Bram Pitoyo\"
      raw=\"India\" machine_tag=\"0\">india</tag>\n\t\t<tag id=\"5127903-4960396261-362057\"
      author=\"91178292@N00\" authorname=\"Bram Pitoyo\" raw=\"Chandni\" machine_tag=\"0\">chandni</tag>\n\t\t<tag
      id=\"5127903-4960396261-362058\" author=\"91178292@N00\" authorname=\"Bram Pitoyo\"
      raw=\"Chowk\" machine_tag=\"0\">chowk</tag>\n\t\t<tag id=\"5127903-4960396261-26234\"
      author=\"91178292@N00\" authorname=\"Bram Pitoyo\" raw=\"bazaar\" machine_tag=\"0\">bazaar</tag>\n\t\t<tag
      id=\"5127903-4960396261-4566\" author=\"91178292@N00\" authorname=\"Bram Pitoyo\"
      raw=\"market\" machine_tag=\"0\">market</tag>\n\t</tags>\n\t<location latitude=\"28.656738\"
      longitude=\"77.230796\" accuracy=\"14\" context=\"0\">\n\t\t<locality woeid=\"2295019\">New
      Delhi</locality>\n\t\t<county woeid=\"28743737\">Central Delhi</county>\n\t\t<region
      woeid=\"20070458\">Delhi</region>\n\t\t<country woeid=\"23424848\">India</country>\n\t\t<neighbourhood
      woeid=\"29215723\">Chandni Chowk Area</neighbourhood>\n\t</location>\n\t<geoperms
      ispublic=\"1\" iscontact=\"0\" isfriend=\"0\" isfamily=\"0\" />\n\t<urls>\n\t\t<url
      type=\"photopage\">https://www.flickr.com/photos/brampitoyo/4960396261/</url>\n\t</urls>\n\t<video
      ready=\"1\" failed=\"0\" pending=\"0\" duration=\"23\" width=\"640\" height=\"480\"
      />\n</photo>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Self=1-65fc221b-72417443156ef7662c19d6bd;Root=1-65fc221b-127406b3699532f45618ab11
      x-server:
      - serverless-proxy-10.78.5.219
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getSizes&photo_id=4960396261
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<sizes
      canblog=\"0\" canprint=\"0\" candownload=\"1\">\n\t<size label=\"Square\" width=\"75\"
      height=\"75\" source=\"https://live.staticflickr.com/4118/4960396261_18120df31a_s.jpg\"
      url=\"https://www.flickr.com/photos/brampitoyo/4960396261/sizes/sq/\" media=\"photo\"
      />\n\t<size label=\"Large Square\" width=\"150\" height=\"150\" source=\"https://live.staticflickr.com/4118/4960396261_18120df31a_q.jpg\"
      url=\"https://www.flickr.com/photos/brampitoyo/4960396261/sizes/q/\" media=\"photo\"
      />\n\t<size label=\"Thumbnail\" width=\"100[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
   [...]
