interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=2179931434
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
        id=\"2179931434\" secret=\"6da491430f\" server=\"2106\" farm=\"3\" dateuploaded=\"1199853105\"
        isfavorite=\"0\" license=\"7\" safety_level=\"0\" rotation=\"0\" originalsecret=\"6174be7831\"
        originalformat=\"jpg\" views=\"150742\" media=\"photo\">\n\t<owner nsid=\"8623220@N02\"
        username=\"The Library of Congress\" realname=\"\" location=\"Washington,
        DC, United States\" iconserver=\"65535\" iconfarm=\"66\" path_alias=\"library_of_congress\">\n\t\t<gift
        gift_eligible=\"\" new_flow=\"1\" />\n\t</owner>\n\t<title>Children gathering
        potatoes on a large farm, vicinity of Caribou, Aroostook County, Me. Schools
        do not open until the potatoes are harvested  (LOC)</title>\n\t<description>Delano,
        Jack,, photographer.\n\nChildren gathering potatoes on a large farm, vicinity
        of Caribou, Aroostook County, Me. Schools do not open until the potatoes are
        harvested\n\n1940 Oct. \n\n1 slide : color.\n\n&lt;b&gt;Notes:\n&lt;/b&gt;
        Title from FSA or OWI agency caption.\nTransfer from U.S. Office of War Information,
        1944.\n\n&lt;b&gt;Subjects:\n&lt;/b&gt; Potatoes\nHarvesting\nChild labor\nUnited
        States--Maine--Caribou \nUnited States--Maine--Aroostook County \n\n&lt;b&gt;Format:
        &lt;/b&gt; Slides--Color\n\n&lt;b&gt;Rights Info: &lt;/b&gt; No known restrictions
        on publication.\n\n&lt;b&gt;Repository: &lt;/b&gt; Library of Congress, Prints
        and Photographs Division, Washington, D.C. 20540 USA, &lt;a href=&quot;http://hdl.loc.gov/loc.pnp/pp.print&quot;
        rel=&quot;noreferrer nofollow&quot;&gt;hdl.loc.gov/loc.pnp/pp.print&lt;/a&gt;\n\n&lt;b&gt;Part
        Of: &lt;/b&gt; Farm Security Administration - Office of War Information Collection
        11671-4 (DLC)   93845501\n\nGeneral information about the FSA/OWI Color Photographs
        is available at &lt;a href=&quot;http://hdl.loc.gov/loc.pnp/pp.fsac&quot;
        rel=&quot;noreferrer nofollow&quot;&gt;hdl.loc.gov/loc.pnp/pp.fsac&lt;/a&gt;\n\n&lt;b&gt;Higher
        resolution image is available (Persistent URL): &lt;/b&gt;  &lt;a href=&quot;http://hdl.loc.gov/loc.pnp/fsac.1a33844&quot;
        rel=&quot;noreferrer nofollow&quot;&gt;hdl.loc.gov/loc.pnp/fsac.1a33844&lt;/a&gt;\n\n&lt;b&gt;Call
        Number: &lt;/b&gt; LC-USF35-63  \n\n</description>\n\t<visibility ispublic=\"1\"
        isfriend=\"0\" isfamily=\"0\" />\n\t<dates posted=\"1199853105\" taken=\"1939-01-01
        00:00:00\" takengranularity=\"8\" takenunknown=\"0\" lastupdate=\"1607105185\"
        />\n\t<editability cancomment=\"0\" canaddmeta=\"0\" />\n\t<publiceditability
        cancomment=\"1\" canaddmeta=\"1\" />\n\t<usage candownload=\"1\" canblog=\"0\"
        canprint=\"0\" canshare=\"1\" />\n\t<comments>60</comments>\n\t<notes>\n\t\t<note
        id=\"72157603795982393\" photo_id=\"2179931434\" author=\"25109272@N00\" authorname=\"cloudy
        root\" authorrealname=\"Cloudy Root\" authorispro=\"0\" authorisdeleted=\"1\"
        x=\"304\" y=\"116\" w=\"50\" h=\"50\">Is he crying? (serious question)</note>\n\t\t<note
        id=\"72157626441564842\" photo_id=\"2179931434\" author=\"61465791@N02\" authorname=\"andre.madalen\"
        authorrealname=\"\" authorispro=\"0\" authorisdeleted=\"0\" x=\"16\" y=\"16\"
        w=\"31\" h=\"31\">Pobrecitos</note>\n\t</notes>\n\t<people haspeople=\"0\"
        />\n\t<tags>\n\t\t<tag id=\"8602872-2179931434-22301\" author=\"8623220@N02\"
        authorname=\"The Library of Congress\" raw=\"Library of Congress\" machine_tag=\"0\">libraryofcongress</tag>\n\t\t<tag
        id=\"8602872-2179931434-19012067\" author=\"8623220@N02\" authorname=\"The
        Library of Congress\" raw=\"dc:identifier=http://hdl.loc.gov/loc.pnp/fsac.1a33844\"
        machine_tag=\"1\">dc:identifier=httphdllocgovlocpnpfsac1a33844</tag>\n\t\t<tag
        id=\"8602872-2179931434-8499312\" author=\"86232[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
        id=\"0\" name=\"All Rights Reserved\" url=\"https://www.flickrhelp.com/hc/en-us/articles/10710266545556-Using-Flickr-images-shared-by-other-members\"
        />\n\t<license id=\"4\" name=\"Attribution License\" url=\"https://creativecommons.org/licenses/by/2.0/\"
        />\n\t<license id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
        />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
        url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license
        id=\"2\" name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
        />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
        url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license
        id=\"5\" name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
        />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
        />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"https://www.usa.gov/government-copyright\"
        />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
        />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
        />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Root=1-681a07e5-1ca76b500e01cbb34aecb2f9
      x-server:
      - serverless-proxy-10.78.14.139
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getSizes&photo_id=2179931434
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<sizes
        canblog=\"0\" canprint=\"0\" candownload=\"1\">\n\t<size label=\"Square\"
        width=\"75\" height=\"75\" source=\"https://live.staticflickr.com/2106/2179931434_6da491430f_s.jpg\"
        url=\"https://www.flickr.com/photos/library_of_congress/2179931434/sizes/sq/\"
        media=\"photo\" />\n\t<size label=\"Large Square\" width=\"150\" height=\"150\"
        source=\"https://live.staticflickr.com/2106/2179931434_6da491430f_q.jpg\"
        url=\"https://www.flickr.com/photos/library_of_congress/2179931434/sizes/q/\"
        media=\"photo\" />\n\t<[...]
