interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.urls.lookupUser&url=https%3A%2F%2Fwww.flickr.com%2Fphotos%2Fnavymedicine%2F
  response:
    content: <error>BOOM!</error>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 500
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.urls.lookupUser&url=https%3A%2F%2Fwww.flickr.com%2Fphotos%2Fnavymedicine%2F
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<user
      id=\"61270229@N05\">\n\t<username>NavyMedicine</username>\n</user>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.people.getInfo&user_id=61270229%40N05
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<person
      id=\"61270229@N05\" nsid=\"61270229@N05\" ispro=\"1\" is_deleted=\"0\" iconserver=\"65535\"
      iconfarm=\"66\" path_alias=\"navymedicine\" has_stats=\"0\" pro_badge=\"standard\"
      expire=\"1982894400\" has_adfree=\"0\" has_free_standard_shipping=\"0\" has_free_educational_resources=\"0\">\n\t<username>NavyMedicine</username>\n\t<realname>Navy
      Medicine</realname>\n\t<location>Washington, DC, USA</location>\n\t<timezone
      label=\"Eastern Time (US &amp; Canada)\" offset=\"-05:00\" timezone_id=\"EST5EDT\"
      timezone=\"14\" />\n\t<description>Official Flickr page of U.S. Navy Medicine
      &amp;amp; its headquarters, the Bureau of Medicine and Surgery (BUMED). Please
      send questions to michael.g.rhode2.civ@health.mil and read an interview about
      the collection at &lt;a href=&quot;https://www.flickr.org/navy-medicine-on-flickr-commons/&quot;
      rel=&quot;noreferrer nofollow&quot;&gt;www.flickr.org/navy-medicine-on-flickr-commons/&lt;/a&gt;\n\nDocuments
      and other files can be viewed at the Medical Heritage Library -[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?extras=license%2Cdate_upload%2Cdate_taken%2Cmedia%2Coriginal_format%2Cowner_name%2Curl_sq%2Curl_t%2Curl_s%2Curl_m%2Curl_o%2Ctags%2Cgeo%2Curl_q%2Curl_l%2Cdescription%2Csafety_level%2Crealname&method=flickr.people.getPublicPhotos&page=1&per_page=10&user_id=61270229%40N05
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photos
      page=\"1\" pages=\"2407\" perpage=\"10\" total=\"24068\">\n\t<photo id=\"53410639909\"
      owner=\"61270229@N05\" secret=\"7142765be7\" server=\"65535\" farm=\"66\" title=\"Making
      Feats for the Feet with Naval Hospital Bremerton\u2019s Podiatrist 231219-N-HU933-1028\"
      ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" license=\"7\" safety_level=\"0\"
      dateupload=\"1703105852\" datetaken=\"2023-12-15 09:39:50\" datetakengranularity=\"0\"
      datetakenunknown=\"0\" ownername=\"NavyMedicine\" realname=\"Navy Medicine\"
      tags=\"navymedicine nhb n[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
