interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&photo_id=3701264363
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<photo
      id=\"3701264363\" secret=\"6e80035605\" server=\"2463\" farm=\"3\" dateuploaded=\"1247077836\"
      isfavorite=\"0\" license=\"7\" safety_level=\"0\" rotation=\"0\" originalsecret=\"8d339be74d\"
      originalformat=\"jpg\" views=\"18640\" media=\"photo\">\n\t<owner nsid=\"7167652@N06\"
      username=\"George Eastman Museum\" realname=\"George Eastman Museum\" location=\"Rochester,
      NY, United States\" iconserver=\"2013\" iconfarm=\"3\" path_alias=\"george_eastman_house\">\n\t\t<gift
      gift_eligible=\"\" new_flow=\"1\" />\n\t</owner>\n\t<title>Cour de Rouen - boulevard
      St. Germain</title>\n\t<description>\n&lt;b&gt;Digital Accession Number:&lt;/b&gt;
      1978:1628:0030.0001\n\n&lt;b&gt;Maker:&lt;/b&gt; Eug\xE8ne Atget (French, 1857-1927)\n\n&lt;b&gt;Title:&lt;/b&gt;
      Cour de Rouen - boulevard St. Germain\n\n&lt;b&gt;Date:&lt;/b&gt; undated\n\n&lt;b&gt;Medium:&lt;/b&gt;
      albumen print\n\n&lt;b&gt;Dimensions:&lt;/b&gt; 22.8 x 17.5 cm. (trimmed)\n\n\n&lt;i&gt;George
      Eastman House Collection&lt;/i&gt;\n\nGeneral \u2013 information about the George
      Eastman House Photography Collection is available at &lt;a href=&quot;http://www.eastmanhouse.org/inc/collections/photography.php&quot;
      rel=&quot;noreferrer nofollow&quot;&gt;www.eastmanhouse.org/inc/collections/photography.php&lt;/a&gt;.\n\nFor
      information on obtaining reproductions go to: &lt;a href=&quot;http://www.eastmanhouse.org/flickr/index.php?pid=197816280030&quot;
      rel=&quot;noreferrer nofollow&quot;&gt;www.eastmanhouse.org/flickr/index.php?pid=197816280030&lt;/a&gt;.</description>\n\t<visibility
      ispublic=\"1\" isfriend=\"0\" isfamily=\"0\" />\n\t<dates posted=\"1247077836\"
      taken=\"0000-01-01 00:00:00\" takengranularity=\"6\" takenunknown=\"0\" lastupdate=\"1375242583\"
      />\n\t<editability cancomment=\"0\" canaddmeta=\"0\" />\n\t<publiceditability
      cancomment=\"1\" canaddmeta=\"1\" />\n\t<usage candownload=\"1\" canblog=\"0\"
      canprint=\"0\" canshare=\"1\" />\n\t<comments>1</comments>\n\t<notes />\n\t<people
      haspeople=\"0\" />\n\t<tags>\n\t\t<tag id=\"7122330-3701264363-215330\" author=\"7167652@N06\"
      authorname=\"George Eastman Museum\" raw=\"George_Eastman_House\" machine_tag=\"0\">georgeeastmanhouse</tag>\n\t\t<tag
      id=\"7122330-3701264363-42491597\" author=\"7167652@N06\" authorname=\"George
      Eastman Museum\" raw=\"geh:accession=1978:1628:0030\" machine_tag=\"1\">geh:accession=197816280030</tag>\n\t\t<tag
      id=\"7122330-3701264363-36789027\" author=\"7167652@N06\" authorname=\"George
      Eastman Museum\" raw=\"geh:medium=albumen print\" machine_tag=\"1\">geh:medium=albumenprint</tag>\n\t\t<tag
      id=\"7122330-3701264363-42491409\" author=\"7167652@N06\" authorname=\"George
      Eastman Museum\" raw=\"geh:maker=Atget, Eug\xE8ne\" machine_tag=\"1\">geh:maker=atgeteug\xE8ne</tag>\n\t\t<tag
      id=\"7122330-3701264363-3127\" author=\"61361160@N00\" authorname=\"L\xFA_\"
      raw=\"gate\" machine_tag=\"0\">gate</tag>\n\t\t<tag id=\"7122330-3701264363-484\"
      author=\"61361160@N00\" authorname=\"L\xFA_\" raw=\"Paris\" machine_tag=\"0\">paris</tag>\n\t\t<tag
      id=\"7122330-3701264363-553\" author=\"57845960@N00\" authorname=\"ninakuriloff\"
      raw=\"building\" machine_tag=\"0\">building</tag>\n\t</tags>\n\t<urls>\n\t\t<url
      type=\"photopage\">https://www.flickr.com/photos/george_eastman_house/3701264363/</url>\n\t</urls>\n</photo>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.getSizes&photo_id=3701264363
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<sizes
      canblog=\"0\" canprint=\"0\" candownload=\"1\">\n\t<size label=\"Square\" width=\"75\"
      height=\"75\" source=\"https://live.staticflickr.com/2463/3701264363_6e80035605_s.jpg\"
      url=\"https://www.flickr.com/photos/george_eastman_house/3701264363/sizes/sq/\"
      media=\"photo\" />\n\t<size label=\"Large Square\" width=\"150\" height=\"150\"
      source=\"https://live.staticflickr.com/2463/3701264363_6e80035605_q.jpg\" url=\"https://www.flickr.com/photos/george_eastman_house/3701264363/sizes/q/\"
      media=\"photo\" />\n\t<size label=\"Thu[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.photos.licenses.getInfo
  response:
    content: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<licenses>\n\t<license
      id=\"0\" name=\"All Rights Reserved\" url=\"\" />\n\t<license id=\"4\" name=\"Attribution
      License\" url=\"https://creativecommons.org/licenses/by/2.0/\" />\n\t<license
      id=\"6\" name=\"Attribution-NoDerivs License\" url=\"https://creativecommons.org/licenses/by-nd/2.0/\"
      />\n\t<license id=\"3\" name=\"Attribution-NonCommercial-NoDerivs License\"
      url=\"https://creativecommons.org/licenses/by-nc-nd/2.0/\" />\n\t<license id=\"2\"
      name=\"Attribution-NonCommercial License\" url=\"https://creativecommons.org/licenses/by-nc/2.0/\"
      />\n\t<license id=\"1\" name=\"Attribution-NonCommercial-ShareAlike License\"
      url=\"https://creativecommons.org/licenses/by-nc-sa/2.0/\" />\n\t<license id=\"5\"
      name=\"Attribution-ShareAlike License\" url=\"https://creativecommons.org/licenses/by-sa/2.0/\"
      />\n\t<license id=\"7\" name=\"No known copyright restrictions\" url=\"https://www.flickr.com/commons/usage/\"
      />\n\t<license id=\"8\" name=\"United States Government Work\" url=\"http://www.usa.gov/copyright.shtml\"
      />\n\t<license id=\"9\" name=\"Public Domain Dedication (CC0)\" url=\"https://creativecommons.org/publicdomain/zero/1.0/\"
      />\n\t<license id=\"10\" name=\"Public Domain Mark\" url=\"https://creativecommons.org/publicdomain/mark/1.0/\"
      />\n</licenses>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status_code: 200
version: 1
