interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.flickr.com/services/rest/?method=flickr.people.getInfo&user_id=134319968%40N02
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?>\n<rsp stat=\"ok\">\n<person
        id=\"134319968@N02\" nsid=\"134319968@N02\" ispro=\"1\" is_deleted=\"0\" iconserver=\"1743\"
        iconfarm=\"2\" path_alias=\"bocono\" has_stats=\"0\" pro_badge=\"standard\"
        expire=\"2025666000\" has_adfree=\"0\" has_free_standard_shipping=\"0\" has_free_educational_resources=\"0\">\n\t<username>Colecci\xF3n
        Amadeo Le\xF3n - Bocon\xF3</username>\n\t<description>Colecci\xF3n de fotograf\xEDas
        de Bocon\xF3 por Amadeo Le\xF3n\nEsfuerzo dedicado a compartir la colecci\xF3n
        de miles de fotograf\xEDas tomadas en Bocon\xF3 por Amadeo Le\xF3n.\nAmadeo
        Le\xF3n fue fot\xF3grafo en la ciudad durante el siglo 20 y su trabajo es
        una forma de documentar las personas y lugares asociados a Bocon\xF3, durante
        un per\xEDodo de tiempo donde Amadeo Le\xF3n fu\xE9 uno de los pocos fot\xF3grafos
        de la ciudad.\nM\xE1s de 12,000 negativos fueron digitalizados para divulgar,
        compartir y enriquecer esta c\xE1psula fotogr\xE1fica de Bocon\xF3.</description>\n\t<photosurl>https://www.flickr.com/photos/bocono/</photosurl>\n\t<profileurl>https://www.flickr.com/people/bocono/</profileurl>\n\t<mobileurl>https://www.flickr.com/photos/bocono/</mobileurl>\n\t<photos>\n\t\t<firstdatetaken>2015-06-02
        09:26:48</firstdatetaken>\n\t\t<firstdate>1528127657</firstdate>\n\t\t<count>12558</count>\n\t</photos>\n</person>\n</rsp>\n"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      x-flickr-api-request:
      - Root=1-66d1a78d-2f7666fe431b98ac364d21e0
      x-server:
      - serverless-proxy-10.78.31.193
    status:
      code: 200
      message: OK
version: 1
